body {
  font-family: Helvagoth-Bold, sans-serif;
  margin: 0;
}

#settingsCog {
  margin-left: 8px;
  cursor: pointer;
}

#spotifyUserDropdown {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 800;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background: rgba(255, 255, 255);
  padding: 6px 10px;
  border-radius: 20px;
  transition: background 0.3s;
}

#settingsDropdown {
  position: absolute;
  top: 0%; /* right below the cog */
  margin-left: 105px;
  cursor: pointer;
  padding: 8px 0px;
}

#settings-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%; /* Position to the right of the parent element */
  z-index: 900;
  border: 1px solid #e0e0e0;
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border-radius: 5px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px; /* or whatever maximum width you prefer */
  color: #333;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px; /* Reduced margin for better spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.drop-menu {
  font-family: Helvagoth-Medium, sans-serif;
  font-size: 10px;
  border: 1px solid #e0e0e0;
  margin-top: 8px;
  transition: all 0.3s ease;
  text-decoration: none;
  display: none;
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border-radius: 5px; /* Add slight border-radius to match design consistency */
}

.menu-container {
  display: flex;
  align-items: center;
}

.drop-item {
  padding: 10px 12px; /* Adjusted padding for better spacing */
  color: #333;
  text-decoration: none;
  display: block;
  transition:
    background 0.2s,
    color 0.2s;
  border-bottom: 1px solid #eaeaea;
}

.drop-item:last-child {
  border-bottom: none;
}

.drop-item[href*="profile"]:hover {
  text-decoration: none;
  color: #fafafa;
  background-color: #5dab54;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* Applying specific color styles as per your request */
.drop-item[href*="stats"]:hover {
  text-decoration: none;
  background-color: #f7a1d5;
  color: #fafafa;
}

.drop-item[href*="recommendations"]:hover {
  background-color: #f1db2b;
  color: #fafafa;
  text-decoration: none;
}

.drop-item[href*="playlist"]:hover {
  text-decoration: none;
  color: #fafafa;
  background-color: #9b5de5;
}

.drop-item[href*="logout"] {
  background-color: #ca403f;
  text-decoration: none;
  color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#modeToggle {
  width: 100%;
  text-align: left;
  background-color: #001220; /* Light background for contrast */
  color: #fbae3c;
  font-size: 10px;
  font-weight: bold;
  border-color: transparent;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Dark Mode button appearance */
.dark-mode #modeToggle {
  background-color: #f1db2b; /* Dark background for contrast */
  color: #ca403f;
  /* Dark text */
}

@media (max-width: 768px) {
  #spotifyUserDropdown {
    top: 5px;
    right: 10px;
    font-size: 12px;
    padding: 6px 10px;
  }

  .profile-img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }

  .truncate {
    max-width: 60px;
  }

  .drop-item {
    padding: 8px 10px;
  }

  .homepage-link {
    height: 45px;
    width: 45px;
  }

  @media (max-width: 480px) {
    #spotifyUserDropdown {
      top: 5px;
      right: 5px;
      font-size: 11px;
      padding: 5px 8px;
    }

    .profile-img {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    .truncate {
      max-width: 50px;
    }

    .drop-item {
      padding: 7px 9px;
    }
    .homepage-link {
      height: 30px;
      width: 30px;
    }
  }
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex; /* set parent to flex */
  justify-content: center; /* horizontally center children */
  align-items: center; /* vertically center children */
  transition: opacity 0.5s ease-out; /* 0.5s fade out */
}

#vinyl {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  overflow-x: hidden;
  font-family: Helvagoth-Medium, sans-serif;
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer p {
  margin: 0; /* Remove or adjust margins */
  color: #333;
}

body.dark-mode .footer {
  background-color: rgb(139, 137, 137, 0.6);
}
body.dark-mode .footer p,
body.dark-mode .footer a,
body.dark-mode .footer a::after {
  color: #fff;
}
.footer a:hover {
  color: #555; /* Slightly lighter gray on hover */
  text-decoration: none; /* Removes the underline */
}
.footer a::after {
  content: "|";
  margin: 0 3px; /* Adjust space around the separator */
  color: #333; /* Same color as text */
}
.footer a:last-child::after {
  content: "";
}

.footer svg {
  fill: #333; /* Fill the SVG icons with the same color as the text */
  height: 1.5em; /* Adjust this value for desired size */
}

.footer p,
.footer a {
  font-size: 0.8rem; /* Adjust this value as needed */
  color: #333; /* This is a dark gray color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Text shadow for better legibility */
  text-decoration: none; /* Removes the underline */
  margin: 0;
  padding: 0;
  bottom: 0;
}

.footer-links {
  display: flex;
  gap: 10px;
}
@media (max-width: 400px) {
  .footer p,
  .footer a {
    font-size: 0.5rem;
  }

  .footer {
    padding: 0 5px;
    height: 20px;
  }
}
@media (min-width: 401px) and (max-width: 500px) {
  .footer p,
  .footer a {
    font-size: 0.6rem;
  }

  .footer {
    padding: 0 5px;
    height: 20px;
  }
}
