@font-face {
  font-family: "Window-Book";
  src:
    url("../../fonts/Window-Book.woff2") format("woff2"),
    url("../../fonts/Window-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvagoth-BoldItalic";
  src:
    url("../../fonts/Helvagoth-BoldItalic.woff2") format("woff2"),
    url("../../fonts/Helvagoth-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Window-Bold";
  src:
    url("../../fonts/Window-Bold.woff2") format("woff2"),
    url("../../fonts/Window-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Window-Medium";
  src:
    url("../../fonts/Window-Medium.woff2") format("woff2"),
    url("../../fonts/Window-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvagoth-ThinItalic";
  src:
    url("../../fonts/Helvagoth-ThinItalic.woff2") format("woff2"),
    url("../../fonts/Helvagoth-ThinItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Helvagoth-UltraItalic";
  src:
    url("../../fonts/Helvagoth-UltraItalic.woff2") format("woff2"),
    url("../../fonts/Helvagoth-UltraItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Window-Thin";
  src:
    url("../../fonts/Window-Thin.woff2") format("woff2"),
    url("../../fonts/Window-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Kodak-TextRegular";
  src:
    url("../../fonts/Kodak-TextRegular.woff2") format("woff2"),
    url("../../fonts/Kodak-TextRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kodak-TextRegularItalic";
  src:
    url("../../fonts/Kodak-TextRegularItalic.woff2") format("woff2"),
    url("../../fonts/Kodak-TextRegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "EST-Italic";
  src:
    url("../../fonts/EST-Italic.woff2") format("woff2"),
    url("../../fonts/EST-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Helvagoth-Medium";
  src:
    url("../../fonts/Helvagoth-Medium.woff2") format("woff2"),
    url("../../fonts/Helvagoth-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "EST-MonoRegular";
  src:
    url("../../fonts/EST-MonoRegular.woff2") format("woff2"),
    url("../../fonts/EST-MonoRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Turbo-Light";
  src:
    url("../../fonts/Turbo-Light(00).woff2") format("woff2"),
    url("../../fonts/Turbo-Light(00).woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Window-Light";
  src:
    url("../../fonts/Window-Light.woff2") format("woff2"),
    url("../../fonts/Window-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Vinegar-Full";
  src:
    url("../../fonts/Vinegar-Full.woff2") format("woff2"),
    url("../../fonts/Vinegar-Full.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Window-Regular";
  src:
    url("../../fonts/Window-Regular.woff2") format("woff2"),
    url("../../fonts/Window-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Turbo-Bold";
  src:
    url("../../fonts/Turbo-Bold(11).woff2") format("woff2"),
    url("../../fonts/Turbo-Bold(11).woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvagoth-Light";
  src:
    url("../../fonts/Helvagoth-Light.woff2") format("woff2"),
    url("../../fonts/Helvagoth-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvagoth-Italic";
  src:
    url("../../fonts/Helvagoth-Italic.woff2") format("woff2"),
    url("../../fonts/Helvagoth-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Turbo-Semi-Bold";
  src:
    url("../../fonts/Turbo-Semi-Bold(10).woff2") format("woff2"),
    url("../../fonts/Turbo-Semi-Bold(10).woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Helvagoth-MediumItalic";
  src:
    url("../../fonts/Helvagoth-MediumItalic.woff2") format("woff2"),
    url("../../fonts/Helvagoth-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Helvagoth-Ultra";
  src:
    url("../../fonts/Helvagoth-Ultra.woff2") format("woff2"),
    url("../../fonts/Helvagoth-Ultra.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "EST-Regular";
  src:
    url("../../fonts/EST-Regular.woff2") format("woff2"),
    url("../../fonts/EST-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvagoth-HeavyItalic";
  src:
    url("../../fonts/Helvagoth-HeavyItalic.woff2") format("woff2"),
    url("../../fonts/Helvagoth-HeavyItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Helvagoth-LightItalic";
  src:
    url("../../fonts/Helvagoth-LightItalic.woff2") format("woff2"),
    url("../../fonts/Helvagoth-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Helvagoth-Regular";
  src:
    url("../../fonts/Helvagoth-Regular.woff2") format("woff2"),
    url("../../fonts/Helvagoth-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvagoth-Thin";
  src:
    url("../../fonts/Helvagoth-Thin.woff2") format("woff2"),
    url("../../fonts/Helvagoth-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Turbo-Semi-Light";
  src:
    url("../../fonts/Turbo-Semi-Light(01).woff2") format("woff2"),
    url("../../fonts/Turbo-Semi-Light(01).woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Grotto-Book";
  src:
    url("../../fonts/Grotto-Book.woff2") format("woff2"),
    url("../../fonts/Grotto-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvagoth-Bold";
  src:
    url("../../fonts/Helvagoth-Bold.woff2") format("woff2"),
    url("../../fonts/Helvagoth-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Grotto-BookItalic";
  src:
    url("../../fonts/Grotto-BookItalic.woff2") format("woff2"),
    url("../../fonts/Grotto-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Kodak-DisplayRegular";
  src:
    url("../../fonts/Kodak-DisplayRegular.woff2") format("woff2"),
    url("../../fonts/Kodak-DisplayRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvagoth-Heavy";
  src:
    url("../../fonts/Helvagoth-Heavy.woff2") format("woff2"),
    url("../../fonts/Helvagoth-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Vinegar-Empty";
  src:
    url("../../fonts/Vinegar-Empty.woff2") format("woff2"),
    url("../../fonts/Vinegar-Empty.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rawicon2";
  src: url("../../fonts/rawicon2.eot?li2kwi");
  src:
    url("../../fonts/rawicon2.eot?li2kwi#iefix") format("embedded-opentype"),
    url("../../fonts/rawicon2.ttf?li2kwi") format("truetype"),
    url("../../fonts/rawicon2.woff?li2kwi") format("woff"),
    url("../../fonts/rawicon2.svg?li2kwi#rawicon2") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "rawicon2" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-album-collection:before {
  content: "\e900";
}
.icon-album-plus:before {
  content: "\e901";
}
.icon-album-user:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-artists-line:before {
  content: "\e904";
}
.icon-bars:before {
  content: "\e905";
}
.icon-calendar-down:before {
  content: "\e906";
}
.icon-calendar-up:before {
  content: "\e907";
}
.icon-chart-column:before {
  content: "\e908";
}
.icon-circle-info:before {
  content: "\e909";
}
.icon-download:before {
  content: "\e90a";
}
.icon-folder-music:before {
  content: "\e90b";
}
.icon-gear:before {
  content: "\e90c";
}
.icon-genres:before {
  content: "\e90d";
}
.icon-heart-minus:before {
  content: "\e90e";
}
.icon-heart-plus:before {
  content: "\e90f";
}
.icon-high-definition:before {
  content: "\e910";
}
.icon-key:before {
  content: "\e911";
}
.icon-layer-minus:before {
  content: "\e912";
}
.icon-list-music:before {
  content: "\e913";
}
.icon-minus:before {
  content: "\e914";
}
.icon-music-search:before {
  content: "\e915";
}
.icon-paintbruhs:before {
  content: "\e916";
}
.icon-pause:before {
  content: "\e917";
}
.icon-photo-film-music:before {
  content: "\e918";
}
.icon-play:before {
  content: "\e919";
}
.icon-plus:before {
  content: "\e91a";
}
.icon-refresh:before {
  content: "\e91b";
}
.icon-shuffle:before {
  content: "\e91c";
}
.icon-signal-bars:before {
  content: "\e91d";
}
.icon-sort-down:before {
  content: "\e91e";
}
.icon-sort-up:before {
  content: "\e91f";
}
.icon-target:before {
  content: "\e920";
}
.icon-thumbs-down:before {
  content: "\e921";
}
.icon-thumbs-up:before {
  content: "\e922";
}
.icon-user-music:before {
  content: "\e923";
}
.icon-volume-high:before {
  content: "\e924";
}
.icon-wand-magic-sparkles:before {
  content: "\e925";
}
.icon-waveform-lines:before {
  content: "\e926";
}
