{% extends 'base.html' %} {% block head %}
<title>Rawc-On</title>
<link rel="canonical" href="https://rawcon.rawcsav.com/" />
{% endblock %} {% block styles %} {% assets "auth_style_bundle" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block body %}{% block menu %} {% endblock %}
<div class="title-container">
  <h1 class="landing-title" id="outlined-text">
    <span>R</span><span>a</span><span>w</span><span>c</span><span>-</span
    ><span>O</span><span>n</span><span>!</span>
  </h1>
  <h1 class="landing-title">
    <span>R</span><span>a</span><span>w</span><span>c</span><span>-</span
    ><span>O</span><span>n</span><span>!</span>
  </h1>
  <h1 class="landing-title" id="outlined-text2">
    <span>R</span><span>a</span><span>w</span><span>c</span><span>-</span
    ><span>O</span><span>n</span><span>!</span>
  </h1>
</div>
<div class="center_column">
  <a class="login-button" href="/login" onclick="handleAuthClick()">
    <img
      alt="Spotify"
      src="/static/dist/img/spotify.svg"
      class="spotify-logo"
    />
    Connect Spotify
  </a>
  <div class="container">
    <p>
      *Still in development, so unfortunately authorized users only.
      <br /><br />
    </p>
  </div>
</div>
<div class="image-container">
  <img
    src="https://res.cloudinary.com/dn9bcrimg/image/upload/v1701233197/randomsvg/piano_hzttv3.svg"
    alt="Piano"
    class="scattered-svg piano"
  />
  <img
    src="https://res.cloudinary.com/dn9bcrimg/image/upload/v1701529651/randomsvg/headphones_lgdmiw.svg"
    alt="Headphones"
    class="scattered-svg headphones"
  />
  <img
    src="https://res.cloudinary.com/dn9bcrimg/image/upload/v1701233197/randomsvg/guitar_vqh6f4.svg"
    alt="Guitar"
    class="scattered-svg guitar"
  />
  <img
    src="https://res.cloudinary.com/dn9bcrimg/image/upload/v1701233196/randomsvg/drums_jsuiqf.svg"
    alt="Drums"
    class="scattered-svg drums"
  />
  <img
    src="https://res.cloudinary.com/dn9bcrimg/image/upload/v1701529651/randomsvg/headphone_pn69ku.svg"
    alt="Microphone"
    class="scattered-svg microphone"
  />
  <img
    src="https://res.cloudinary.com/dn9bcrimg/image/upload/v1701233198/randomsvg/wave_anpgln.svg"
    alt="Wave"
    class="scattered-svg wave"
  />
  <img
    src="https://res.cloudinary.com/dn9bcrimg/image/upload/v1701233198/randomsvg/vinyl_z1naey.svg"
    alt="Vinyl"
    class="scattered-svg vinyl"
  />
</div>
{% endblock %}{% block scripts %} {% assets "auth_js_bundle" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
