{% extends 'base.html' %} {% block head %}
<script>
  const playlistData = JSON.parse("{{ playlists|tojson|safe }}");
</script>
<title>Recommendations</title>
{% endblock %} {% block styles %} {% assets "recs_style_bundle" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block body %}
<div class="top-buttons">
  <button id="showInstructions">Instructions</button>
  <button id="toggleButton">Toggle Config/Search</button>
</div>
<div id="instructionsModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="instructions-container">
      <h3>How to Use:</h3>
      <h4>Search & Select:</h4>
      <p>Begin with at least one 'seed' from a searched track or artist.</p>
      <sub>Note: You can use a maximum combination of up to 5 seeds.</sub>
      <h4>Tune Your Preferences:</h4>
      <ul>
        <li>
          Sliders: Adjust factors like popularity, energy, tempo, and more using
          the min-max sliders to match your mood or preference.
        </li>
        <li>
          Results Quantity: Choose the number of recommendations you'd like to
          receive.
        </li>
      </ul>
      <h4>Get Recommendations:</h4>
      <p>
        After setting your seeds and preferences, click the "Get
        Recommendations" button. A list of personalized music tracks will
        appear. Many tracks come with a built-in preview, allowing you to listen
        directly on the page. However, note that some tracks might not have a
        preview.
      </p>
      <p>
        You can easily add any track you like to your 'Liked Songs' or any of
        your playlists directly from the page. Also, the easy playback feature
        allows you to listen to the song without leaving the page.
      </p>
      <p>Dive in and enjoy your music! 🎵</p>
    </div>
  </div>
</div>
<div class="all-containers">
  <div class="user-total">
    <div class="main-container">
      <div class="form-seed">
        <div class="search-container">
          <h2 id="searching-title">Search</h2>
          <div id="universal_container">
            <datalist id="universal_results"></datalist>
            <input
              type="text"
              id="universal_input"
              list="universal_results"
              placeholder="Search for Tracks & Artists"
              autocomplete="off"
            />
            <button type="button" id="universal_search" class="search-btn">
              <img
                src="https://res.cloudinary.com/dn9bcrimg/image/upload/v1694755771/magnifying-glass-svgrepo-com_sf4h8b.svg"
                alt="Search"
                class="search-icon"
              />
            </button>
          </div>
          <div id="universal_search_results">
            <h3 id="search-title">Search Results</h3>
          </div>
        </div>
        <div class="form-container">
          <h2 id="config-title">Configuration</h2>
          <form
            method="POST"
            action="{{ url_for('recs_bp.get_recommendations_route') }}"
          >
            {{ form.csrf_token }} {{ form.track_seeds.label }}: {{
            form.track_seeds }}<br />
            {{ form.artist_seeds.label }}: {{ form.artist_seeds }}<br />
            {{ form.limit.label }}: {{ form.limit }}<br />
            {{ form.popularity_slider.label }}: {{ form.popularity_slider }}<br />
            {{ form.energy_slider.label }}: {{ form.energy_slider }}<br />
            {{ form.instrumentalness_slider.label }}: {{
            form.instrumentalness_slider }}<br />
            {{ form.tempo_slider.label }}: {{ form.tempo_slider }}<br />
            {{ form.danceability_slider.label }}: {{ form.danceability_slider
            }}<br />
            {{ form.valence_slider.label }}: {{ form.valence_slider }}<br />
            {{ form.submit }}
          </form>
        </div>
      </div>

      <div class="seed-container">
        <h3 id="seed-title">Current Seeds</h3>
        <div id="universal_seeds_container"></div>
      </div>
    </div>
    <div class="results-container">
      <h2 id="results-title">Results</h2>
      <div id="results"></div>
    </div>
  </div>
  <div id="playlistModal" class="modal">
    <div class="playlist-modal-content">
      <span class="close">&times;</span>
      <div id="playlistOptions"></div>
    </div>
  </div>
</div>
<div
  id="toast"
  style="display: none; position: absolute; transform: translate(-50%, -50%)"
></div>
{% endblock %}{% block scripts %} {% assets "recs_js_bundle" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
