@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

* {
  transition: all 0.3s ease;
  box-sizing: border-box;
}

body {
  animation: fadeIn 1s ease-out;
  background-color: #fafafa;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
body.dark-mode {
  background-attachment: fixed;
  background-image: url("http://res.cloudinary.com/dn9bcrimg/image/upload/v1698265750/layered-peaks-haikei_4_vslyur_nsaxvq.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  animation: fadeIn 2s;
  font-family: Window-Bold, sans-serif;
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

body.dark-mode h1 {
  color: #fbae3c;
}

.top-right-nav {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#spotifyUserDropdown {
  border: 1px solid #4b8dc2;
}

.stats-container {
  background-color: #fafafa;
  border-top: none;
  box-shadow: 0 2px 10px 10px rgb(0 0 0 / 10%);
  height: 80vh;
  max-height: 80vh;
  width: 90%;
  max-width: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg-placeholder {
  width: 90px; /* or your preferred width */
  height: auto; /* maintains the aspect ratio */
  position: absolute;
  z-index: -1;
}

body.dark-mode .stats-container {
  background-color: #0c1c30;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.term-definition {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}

body.dark-mode .term-definition {
  color: #f28f4b;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}

body.dark-mode .center-text {
  color: #f28f4b;
}

.homepage-link {
  cursor: pointer;
  left: 3px;
  position: absolute;
  z-index: 100;
  top: 1px;
  -webkit-touch-callout: none;
  user-select: none;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  background-image: url("https://res.cloudinary.com/dn9bcrimg/image/upload/v1701024834/colorfullogo_ypzgak.svg");
  transition: transform 0.3s;
}

.homepage-link:hover {
  transform: scale(1.05);
}

.content-section h1 {
  font-size: 30px;
  font-weight: bold;
}

.content-section h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

body.dark-mode .content-section h1 {
  color: #fa9845;
  font-size: 30px;
  font-weight: bold;
}

body.dark-mode .content-section h2 {
  color: #f28f4b;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.content-section h1,
.content-section h2 {
  margin: 0.5em 0;
}

.content-section ul {
  overflow-y: auto;
  max-width: 100%;
  overflow-x: hidden;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.row li {
  font-size: 1em;
  margin-bottom: 10px;
}

.row li:nth-child(odd) {
  background-color: #f0f0f0; /* Light grey background for odd items */
}

.row li:nth-child(even) {
  background-color: #fafafa;
}

body.dark-mode .row li:nth-child(odd) {
  background-color: #312c4f; /* Light grey background for odd items */
}

body.dark-mode .row li:nth-child(even) {
  background-color: #0c1c30;
}

body.dark-mode .row li {
  color: #e9705a;
}

.overlay {
  align-items: center;
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
}

.overlay .content {
  background: #fafafa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  max-height: 80%;
  overflow-y: auto;
  padding: 20px;
  text-align: center;
  width: 60%;
}

.overlay h2,
.overlay h3 {
  font-size: 22px;
  margin-top: 10px;
  text-align: center;
}

body.dark-mode .overlay .content {
  background: #312c4f;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  max-height: 80%;
  overflow-y: auto;
  padding: 20px;
  text-align: center;
  width: 60%;
}

body.dark-mode .overlay h2,
body.dark-mode .overlay h3 {
  color: #fa9845;
  font-size: 22px;
  margin-top: 10px;
  text-align: center;
}

.overlay ul {
  font-size: 16px;
  list-style-type: none;
  padding: 5px;
}

.overlay li:last-child {
  border-bottom: none;
}

.overlay button {
  background: #ca403f;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
}

.overlay button:hover {
  background: #0056b3;
}

#overlayTimePeriod {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

body.dark-mode #overlayTimePeriod {
  color: #f28f4b;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.genre-link {
  color: inherit;
  font-size: 13px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.genre-link:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.center-text {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.time-period {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  font-size: 0.7em;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  gap: 20px;
}

body.dark-mode .track-info-wrapper,
body.dark-mode .feature-value {
  color: #4b8dc2;
}

body.dark-mode .card {
  background-color: #0c1c30; /* Light background for the card */
}

nav {
  display: flex;
  justify-content: space-around;
  color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

nav button {
  /* Style your navigation buttons */
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  font-family: Helvagoth-Bold, sans-serif;
  width: 100%;
  color: #fafafa;
  padding-left: 30px; /* Add space for icon */
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* FontAwesome icon base style */
.nav-button .fa {
  margin-bottom: 5px;
  transition: transform 0.3s;
}

/* Bounce animation for the icon */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Apply the bounce animation to the icon of the active tab */
.nav-button.active .fa {
  animation: bounce 1s infinite;
}

#artist-nav {
  background-color: #4b8dc2;
  border: 2px solid #4b8dc2;
}

#tracks-nav {
  background-color: #9b5de5;
  border: 2px solid #9b5de5;
}

#genres-nav {
  background-color: #5dab54;
  border: 2px solid #5dab54;
}

#features-nav {
  background-color: #ca403f;
  border: 2px solid #ca403f;
}

.content-section {
  display: none; /* Hide all content sections by default */
}
.content-section.active {
  display: block; /* Show the active content section */
  padding: 0 20px;
}

/* Responsive adjustments */
@media (max-width: 900px) {
  .svg-placeholder {
    width: 70px;
  }
}

#top-artists h1,
#top-artists .row li {
  color: #4b8dc2;
}
#top-artists {
  border: 1px solid #4b8dc2;
}
#top-artists .row li {
}

#top-artists h2,
#top-artists .term-definition {
  color: #5dab54;
}

#top-tracks h1,
#top-tracks .row li {
  color: #9b5de5;
}

#top-tracks {
  border: 1px solid #9b5de5;
}

#top-tracks h2,
#top-tracks .term-definition {
  color: #f7a1d5;
}

#top-tracks .row li {
  max-width: 90%;
  white-space: normal;
}

#top-genres h1,
#top-genres .row li,
#top-genres .center-text,
.overlay h1,
.overlay h2,
.overlay ul {
  color: #5dab54;
}

#top-genres {
  border: 1px solid #5dab54;
}

#top-genres h2,
#top-genres .term-definition,
.overlay h3,
#overlayTimePeriod,
.average-value,
.feature-value {
  color: #f7893b;
}

#top-features h1,
#top-features .row li,
.track-info-wrapper,
.feature-name {
  color: #ca403f;
}

#top-features {
  border: 1px solid #ca403f;
}

body.dark-mode #top-artists,
body.dark-mode #top-tracks,
body.dark-mode #top-genres,
body.dark-mode #top-features {
  background-color: #0c1c30;
}
#top-tracks .row li,
#top-tracks p {
  font-size: 0.8em;
  justify-content: center;
}

#top-artists ul,
#top-genres ul {
  column-count: 2;
}

#top-features {
  padding: 20px;
  background-color: #f8f8f8;
}

#top-features h1 {
  text-align: center;
  margin-bottom: 20px;
}

.feature-card {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
}

.feature-card .card-title {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #f7893b;
}

.feature-periods-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.period-detail {
  border-left: 1px solid #e1e1e1;
  padding: 10px;
  flex: 1;
  margin: 0 5px;
  padding-top: 0px;
  margin-top: 0px;
}

.period-detail:first-child {
  margin-left: 0;
  border-left: none;
}

.period-detail:last-child {
  margin-right: 0;
}

.period-detail h3 {
  font-size: 1.2em;
  color: #f1db2b;
  text-align: center;
  margin-bottom: 5px;
}

.min-max-feature {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}

.min-max-feature > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  align-items: center;
  flex: 1;
}

.audio-feature-image {
  max-width: 75px;
  height: auto;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.track-info {
  display: block;
  font-size: 0.6em;
  color: #f7893b;
  margin-top: 5px;
}

.feature-value {
  font-size: 0.8em;
  color: #ca403f;
}

.average-value {
  font-weight: bold;
  color: #ca403f;
  display: block;
  text-align: center;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .period-detail {
    margin: 5px 0;
    border-left: none;
    border-bottom: 1px solid #e1e1e1;
  }

  .feature-card .card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .time-periods {
    flex: unset;
  }
}

@media (min-width: 319px) and (max-width: 549px) {
  nav button {
    background: none;
    border: none;
    font-family: Helvagoth-Bold, sans-serif;
    padding: 0;
    color: #fafafa;
    font-size: 10px;
    padding-top: 10px;
    justify-content: center;
  }
  .stats-container {
    top: 50%;
  }

  .time-periods {
    flex: unset;
  }
  .row {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 1024px) {
  .feature-periods-row {
    flex-wrap: wrap;
  }
}
