body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  text-align: center;
}

#background {
  background-image: url('/secure_image?public_id=v1697944042/test_2_-svg_3_lbgqli-svg_ejbke8&c_fill&g_auto&dpr_auto&w_auto');
  background-position: center;
  background-size: cover;
  height: 100vh; /* 100% of the viewport height */
  position: absolute;
  width: 100vw; /* 100% of the viewport width */
  z-index: 1;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 768px) {
  #background {
    background-position: center;
    background-size: cover;
    height: 100vh; /* 100% of the viewport height */
    position: absolute;
    width: 100vw; /* 100% of the viewport width */
    background-image: url('/secure_image?public_id=v1698250748/New_Project_6_vzrhef&c_fill&g_auto&dpr_auto&w_auto');
    z-index: 100;
    top: 0;
    left: 0;
  }
}

.homepage-link {
  cursor: pointer;
  left: 3px;
  position: absolute;
  top: 1px;
  -webkit-touch-callout: none;
  user-select: none;
  z-index: 100;
}

.homepage-link img {
  height: 60px;
  opacity: 0.9;
  transition: transform 0.3s;
  width: auto;
  z-index: 1;
}

.botifyweb-title {
  color: #5fad56;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 5.2em;
  font-weight: bolder;
  left: 42%;
  margin-top: 0;
  position: absolute;
  text-shadow: 0 0 15px #32a725;
  top: 0;
  -webkit-touch-callout: none;
  user-select: none;
  z-index: 3;
}

.botifyweb-title span.web {
  display: inline-block;
  margin-left: 5px;
  padding-top: 40px;
  vertical-align: middle;
}

.explore-section,
.songfull-section,
.github-repo-section {
  position: absolute;
  z-index: 3;
}

.explore-section {
  left: 36%;
  top: 31%;
}

.songfull-section {
  left: 62%;
  top: 43%;
}

.explore-text {
  color: #c55469;
}

.songfull-text,
.explore-text,
.github-repo-section span.github,
.github-repo-section span.repo {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 3.5em;
  font-weight: 800;
  text-shadow: 2px 3px 4px #00000070;
  -webkit-touch-callout: none;
  user-select: none;
}

.songfull-text {
  color: #fbae3c;
}

.github-repo-section {
  left: 43%;
  top: 70%;
}

.github-repo-section span.github,
.github-repo-section span.repo {
  color: #e9705a;
}

a {
  text-decoration: none;
}

.github-repo-section span.repo {
  display: inline-block;
  margin-left: -100px;
  margin-top: 120px;
  vertical-align: middle;
}

.explore-text:hover {
  text-shadow: 0 0 15px #b33d53;
}

.songfull-text:hover {
  text-shadow: 0 0 15px #fba626;
}

.github-repo-section span.github:hover,
.github-repo-section span.repo:hover {
  text-shadow: 0 0 15px #e34b31;
}

a:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
  transition:
    transform 0.3s ease,
    filter 0.3s ease,
    box-shadow 0.3s ease;
}
