body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#background {
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1697573673/test_2_cnkfew.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

.cloud {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 2;
}

#top1 {
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1695059778/top1_l9hfwh.png');
  height: 150%;
  left: 10%;
  opacity: 0.3;
  top: 5%;
  width: 150%;
}

#bottom1 {
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1695059779/bottom1_oew70i.png');
  bottom: 15%;
  height: 150%;
  opacity: 0.3;
  right: 25%;
  width: 150%;
}

#bottom2 {
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1695059778/bottom2_m4gw9l.png');
  bottom: 20%;
  height: 150%;
  left: 20%;
  opacity: 0.3;
  width: 150%;
}

#top2 {
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1695076173/pngwing.com_2_c0z0gs.png');
  height: 150%;
  opacity: 0.3;
  right: 10%;
  top: 12%;
  width: 150%;
}

.homepage-link {
  cursor: pointer;
  left: 3px;
  position: absolute;
  top: 1px;
  z-index: 100;
}

.homepage-link img {
  height: 60px;
  opacity: 0.9;
  transition: transform 0.3s;
  width: auto;
  z-index: 1;
}

.botifyweb-title {
  color: #5fad56;
  font-size: 5.2em;
  font-weight: bolder;
  left: 42%;
  margin-top: 0;
  position: absolute;
  text-shadow: 2px 3px 4px #00000070;
  top: 0;
  z-index: 3;
}

.botifyweb-title span.web {
  display: inline-block;
  margin-left: 5px; /* Space between the words. Adjust as necessary. */
  padding-top: 40px; /* Pushes the word 'Web' downwards. Adjust this value as necessary to achieve the desired staggered effect. */
  vertical-align: middle; /* Adjusts the alignment of the span. */
}

.explore-section,
.songfull-section,
.github-repo-section {
  position: absolute;
  z-index: 3;
}

.explore-section {
  left: 36%;
  top: 31%;
}

.songfull-section {
  left: 62%; /* Adjust as necessary */
  top: 43%;
}

.explore-text {
  color: #e9705a;
}

.songfull-text,
.explore-text,
.github-repo-section span.github,
.github-repo-section span.repo {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 3.5em; /* Adjust font size as needed */
  font-weight: 800;
  text-shadow: 2px 3px 4px #00000070;
}

.songfull-text {
  color: #fbae3c;
}

.github-repo-section {
  left: 43%;
  top: 70%; /* Adjust as necessary */
}

.github-repo-section span.github,
.github-repo-section span.repo {
  color: #c55469;
}

a {
  text-decoration: none;
}

.github-repo-section span.repo {
  display: inline-block;
  margin-left: -100px; /* Space between the words. Adjust as necessary. */
  margin-top: 120px;
  vertical-align: middle;
}

.explore-text:hover {
  text-shadow: 0 0 15px #e34b31; /* Faint glow in the color of the text */
}

.songfull-text:hover {
  text-shadow: 0 0 15px #fba626;
}

.github-repo-section span.github:hover,
.github-repo-section span.repo:hover {
  text-shadow: 0 0 15px #b33d53; /* Faint glow in the color of the text */
}

a:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
  transition:
    transform 0.3s ease,
    filter 0.3s ease,
    box-shadow 0.3s ease; /* Smoothens the transition effects */
}
