body,
html {
  margin: 0;
  padding: 0;
  height: 100%; /* Full height */
  overflow: hidden;
}

body {
  background: linear-gradient(
    to left top,
    #f6d190 0%,
    #f5c792 12.5%,
    #f3bd94 25%,
    #f2b395 37.5%,
    #f0a997 50%,
    #efa099 62.5%,
    #ed969b 75%,
    #ec8c9c 87.5%,
    #ea829e 100%
  );

  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  body,
  html {
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
  }
  .centered-container,
  .center-image {
    display: none;
  }

  #background {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    height: 100vh; /* 100% of the viewport height */
    position: fixed;
    width: 100vw; /* 100% of the viewport width */
    background-image: url('/secure_image?public_id=v1698250748/New_Project_6_vzrhef&c_fill&g_auto&dpr_auto&w_auto');
    z-index: 100;
    top: 0;
    left: 0;
  }
}

/* Media query for tablets and small desktops */

.center_column {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 45%; /* Center the container from the top */
  left: 50%; /* Center the container from the left */
  transform: translate(
    -50%,
    -50%
  ); /* Offset the container by half its width and height */
}

.spacer {
  aspect-ratio: 960/300;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.homepage-link {
  cursor: pointer;
  left: 3px;
  position: absolute;
  top: 1px;
  z-index: 100;
  -webkit-touch-callout: none;
  user-select: none;
}

.homepage-link img {
  height: 60px;
  transition: transform 0.3s;
  width: auto;
  z-index: 100;
}

.homepage-link:hover img {
  transform: scale(1.05);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.landing-title {
  font-family: EST-Regular, sans-serif;
  font-size: 120px;
  text-align: center;
  color: #004e7c; /* Navy blue for high contrast text */
  margin: 0;
  margin-bottom: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: -2;
  position: relative;
  -webkit-text-stroke: 2px #0f3246;
}

h2 {
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  text-shadow: 2px 3px 4px #00000070;
}

h1,
h2,
p {
  animation: fadeIn 2s;
  color: #c55469;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  margin-top: 15px;
  text-align: center;
  text-shadow: 2px 3px 4px #00000070;
}

.container p {
  color: #1f4054;
  font-family: Window-Medium, sans-serif;
  font-size: 0.5rem;
  font-style: oblique;
  font-weight: 300;
  line-height: 1.5;
  max-width: 500px;
  overflow-wrap: normal;
  text-align: left;
}

.login-button {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 8%);
  color: #191919;
  display: flex;
  font-size: 1em;
  font-weight: 700;
  height: 30px;
  justify-content: center;
  padding: 10px 15px 10px 10px;
  text-decoration: none;
  transition: box-shadow 0.3s;
}

.login-button,
.login-button img {
  line-height: normal;
  vertical-align: middle;
}

.spotify-logo {
  height: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  width: 20px;
}

.spotify-logo img {
  overflow: clip;
  overflow-clip-margin: content-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.login-button:hover {
  box-shadow: 0 6px 15px rgb(0 0 0 / 10%);
  text-decoration: none;
  transform: translateY(-2px);
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

html {
  scroll-behavior: smooth;
}

* {
  transition: all 0.3s ease;
}

.logo-container {
  position: relative;
  display: inline-block;
}
.overlay-image {
  position: absolute;
  bottom: -360%; /* Aligns the image to the bottom of the title container */
  left: 50%; /* Start at the horizontal center of the title container */
  transform: translateX(-50%); /* Centers the image with respect to its width */
  z-index: 0; /* This places the image below the title text */
  width: 1500px; /* or whatever fixed width you require */
  height: auto; /* Maintains the aspect ratio of the image */
}
@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  0% {
    transform: translate(20px, 20px);
    opacity: 0;
  }
  100% {
    transform: translate(10px, 10px);
    opacity: 0.3;
  }
}

.logo-text {
  font-size: 6em;
  font-weight: 900;
  letter-spacing: -3px;
  background: -webkit-linear-gradient(left, #3498db, #004e89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  animation: fadeInZoom 1.5s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.3);
  transform: translate(15px, 15px);
  z-index: 2;
  animation: slideIn 0.5s forwards;
  transition: all 0.3s ease-out;
}

.outter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -2;
}

.block-element {
  text-align: center;
}
