body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: #fafafa;
  width: 100%;
}

* {
  transition: all 0.3s ease;
}

.center_column {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-link {
  cursor: pointer;
  left: 3px;
  position: absolute;
  top: 1px;
  z-index: 100;
  user-select: none;
}

.homepage-link img {
  height: 60px;
  transition: transform 0.3s;
  width: auto;
  z-index: 100;
}

.homepage-link:hover img {
  transform: scale(1.05);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
}

.landing-title {
  font-family: Window-Bold, sans-serif;
  font-size: 200px;
  position: absolute;
  top: 0;
  left: -10%;
  white-space: nowrap;
  margin: 0;
  user-select: none;
  margin-top: -20px;
}

.landing-title:nth-child(2) {
  top: 10%;
  left: 0;
}

.landing-title:nth-child(3) {
  top: 20%;
  left: 10%;
}

.landing-title span {
  position: relative;
  display: inline-block;
  letter-spacing: -30px;
}

#outlined-text span:nth-child(1),
#outlined-text2 span:nth-child(1) {
  -webkit-text-stroke: 1px #4b8dc2;
  color: #fafafa;
  z-index: 7;
}
#outlined-text span:nth-child(2),
#outlined-text2 span:nth-child(2) {
  -webkit-text-stroke: 1px #ca403f;
  color: #fafafa;
  z-index: 6;
}
#outlined-text span:nth-child(3),
#outlined-text2 span:nth-child(3) {
  -webkit-text-stroke: 1px #5dab54;
  color: #fafafa;

  z-index: 5;
}
#outlined-text span:nth-child(4),
#outlined-text2 span:nth-child(4) {
  -webkit-text-stroke: 1px #f7893b;
  color: #fafafa;

  z-index: 4;
}
#outlined-text span:nth-child(5),
#outlined-text2 span:nth-child(5) {
  -webkit-text-stroke: 1px #9b5de5;
  color: #fafafa;

  z-index: 3;
}
#outlined-text span:nth-child(6),
#outlined-text2 span:nth-child(6) {
  -webkit-text-stroke: 1px #f7a1d5;
  color: #fafafa;

  z-index: 2;
}
#outlined-text span:nth-child(7),
#outlined-text2 span:nth-child(7) {
  -webkit-text-stroke: 1px #f1db2b;
  color: #fafafa;
  z-index: 1;
}

#outlined-text span:nth-child(8),
#outlined-text2 span:nth-child(8) {
  -webkit-text-stroke: 1px #ca403f;
  color: #fafafa;
  z-index: 0;
}
.landing-title span:nth-child(1) {
  color: #4b8dc2;
  z-index: 7;
}
.landing-title span:nth-child(2) {
  color: #ca403f;
  z-index: 6;
}
.landing-title span:nth-child(3) {
  color: #5dab54;
  z-index: 5;
}
.landing-title span:nth-child(4) {
  color: #f7893b;
  z-index: 4;
}
.landing-title span:nth-child(5) {
  color: #9b5de5;
  z-index: 3;
}
.landing-title span:nth-child(6) {
  color: #f7a1d5;
  z-index: 2;
}
.landing-title span:nth-child(7) {
  color: #f1db2b;
  z-index: 1;
}

.landing-title span:nth-child(8) {
  color: #ca403f;
  z-index: 0;
}
h2 {
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  text-shadow: 2px 3px 4px #00000070;
}

h1,
h2,
p {
  animation: fadeIn 2s;
  color: #c55469;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  margin-top: 15px;
  text-align: center;
  text-shadow: 2px 3px 4px #00000070;
}

.container p {
  color: #1f4054;
  font-family: Window-Medium, sans-serif;
  font-size: 0.7rem;
  font-style: oblique;
  font-weight: 300;
  line-height: 1.5;
  max-width: 500px;
  overflow-wrap: normal;
  text-align: left;
}

.login-button {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 8%);
  color: #191919;
  display: flex;
  font-size: 1.3em;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  padding: 10px 15px 10px 10px;
  text-decoration: none;
  transition: box-shadow 0.3s;
  z-index: 2;
  white-space: nowrap;
}

.login-button,
.login-button img {
  line-height: normal;
  vertical-align: middle;
}

.spotify-logo {
  height: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  width: 20px;
}

.spotify-logo img {
  overflow: clip;
  overflow-clip-margin: content-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.login-button:hover {
  box-shadow: 0 6px 15px rgb(0 0 0 / 10%);
  text-decoration: none;
  transform: translateY(-2px);
}

.image-container {
  width: 100%;
  height: 100%;
  z-index: 0;
  border: 1px solid red;
}

.scattered-svg {
  position: absolute;
}

.vinyl {
  top: 5%;
  right: 5%;
  height: auto;

  width: 10%;
}

.wave {
  top: 70%;
  right: 45%;
  height: auto;
  width: 16%;
}

.piano {
  top: 48%;
  right: 10%;
  height: auto;
  width: 30%;
}

.headphones {
  bottom: 20%;
  left: 5%;
  height: auto;
  width: 10%;
}

.guitar {
  top: 55%;
  left: 20%;
  height: auto;
  width: 16%;
}

.microphone {
  bottom: 40%;
  right: 5%;
  height: auto;

  width: 12%;
}

.drums {
  top: 20%;
  left: 2%;
  height: auto;
  width: 20%;
}

@media (max-width: 369px) {
  .landing-title {
    font-size: 75px;
    top: 0;
    left: -6%;
    margin-top: 10px;
  }

  .landing-title:nth-child(2) {
    top: 6%;
    left: 0;
  }

  .landing-title:nth-child(3) {
    top: 12%;
    left: 6%;
  }

  .landing-title span {
    letter-spacing: -20px;
  }

  .center_column {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-button {
    font-family: Window-Medium, sans-serif;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 8%);
    font-size: 23px;
    height: 40px;
    padding: 7px 12px 7px 12px;
  }

  .spotify-logo {
    height: 23px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 23px;
  }

  .piano {
    top: 56%;
    right: -2%;
    width: 65%;
  }

  .guitar {
    top: 80%;
    left: 22%;
    height: auto;
    width: 24%;
  }

  .drums {
    top: 37%;
    left: 2%;
    height: auto;
    width: 48%;
  }

  .headphones {
    top: 85%;
    left: 65%;
    height: auto;
    width: 17%;
  }

  .vinyl {
    top: 66%;
    left: 12%;
    height: auto;
    width: 19%;
  }

  .wave {
    top: 45%;
    right: 6%;
    width: 30%;
  }

  .microphone {
    bottom: 36%;
    right: 44%;
    height: auto;
    width: 22%;
  }

  .homepage-link img {
    height: 45px;
  }
  .container p {
    font-size: 0.6rem;
  }

  .title-container {
    width: 218px;
  }
}
@media (min-width: 370px) and (max-width: 549px) {
  .landing-title {
    font-size: 100px;
    top: 0;
    left: -7%;
  }

  .landing-title span {
    letter-spacing: -26px;
  }

  .landing-title:nth-child(2) {
    top: 7%;
    left: 0;
  }

  .landing-title:nth-child(3) {
    top: 14%;
    left: 7%;
  }

  .landing-title span {
    letter-spacing: -22px;
  }

  .center_column {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-button {
    font-family: Window-Medium, sans-serif;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 8%);
    font-size: 25px;
    height: 50px;
    padding: 8px 13px 8px 13px;
  }

  .spotify-logo {
    height: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 25px;
  }

  .piano {
    top: 55%;
    right: -2%;
    width: 55%;
  }

  .guitar {
    top: 80%;
    left: 22%;
    height: auto;
    width: 24%;
  }

  .drums {
    top: 46%;
    left: 4%;
    height: auto;
    width: 35%;
  }

  .headphones {
    top: 85%;
    left: 65%;
    height: auto;
    width: 14%;
  }

  .vinyl {
    top: 69%;
    left: 12%;
    height: auto;
    width: 16%;
  }

  .wave {
    top: 45%;
    right: 6%;
    width: 26%;
  }

  .microphone {
    bottom: 30%;
    right: 42%;
    height: auto;
    width: 18%;
  }

  .homepage-link img {
    height: 50px;
  }
  .container p {
    font-size: 0.6rem;
  }
  .title-container {
    width: 322px;
  }
}
@media (min-width: 550px) and (max-width: 699px) {
  .landing-title {
    font-size: 125px;
    top: 0;
    left: -7%;
  }

  .landing-title span {
    letter-spacing: -26px;
  }

  .landing-title:nth-child(2) {
    top: 7%;
    left: 0;
  }

  .landing-title:nth-child(3) {
    top: 14%;
    left: 7%;
  }

  .landing-title span {
    letter-spacing: -24px;
  }

  .center_column {
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-button {
    font-family: Window-Medium, sans-serif;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 8%);
    font-size: 28px;
    height: 50px;
    padding: 10px 15px 10px 15px;
  }

  .spotify-logo {
    height: 28px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 28px;
  }

  .piano {
    top: 55%;
    right: -5%;
    width: 55%;
  }

  .guitar {
    top: 66%;
    left: 27%;
    height: auto;
    width: 24%;
  }

  .drums {
    top: 45%;
    left: 4%;
    height: auto;
    width: 35%;
  }

  .headphones {
    top: 30%;
    left: 4%;
    height: auto;
    width: 14%;
  }

  .vinyl {
    top: 85%;
    left: 4%;
    height: auto;
    width: 14%;
  }

  .wave {
    top: 46%;
    right: 32%;
    width: 26%;
  }

  .microphone {
    bottom: 45%;
    right: 6%;
    height: auto;
    width: 18%;
  }

  .homepage-link img {
    height: 55px;
  }
  .title-container {
    width: 425px;
  }
}
@media (min-width: 700px) and (max-width: 799px) {
  .landing-title {
    font-size: 150px;
    top: 0;
    left: -8%;
  }

  .landing-title span {
    letter-spacing: -26px;
  }

  .landing-title:nth-child(2) {
    top: 8%;
    left: 0;
  }

  .landing-title:nth-child(3) {
    top: 16%;
    left: 8%;
  }

  .landing-title span {
    letter-spacing: -28px;
  }

  .center_column {
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-button {
    font-family: Window-Medium, sans-serif;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 8%);
    font-size: 30px;
    height: 50px;
    padding: 11px 16px 11px 16px;
  }

  .spotify-logo {
    height: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 25px;
  }

  .piano {
    top: 56%;
    right: 2%;
    width: 45%;
  }

  .guitar {
    top: 70%;
    left: 32%;
    height: auto;
    width: 20%;
  }

  .drums {
    top: 45%;
    left: 4%;
    height: auto;
    width: 35%;
  }

  .vinyl {
    top: 5%;
    right: 4%;
    width: 10%;
  }

  .headphones {
    top: 30%;
    left: 4%;
    height: auto;
    width: 14%;
  }

  .wave {
    top: 50%;
    right: 35%;
    width: 18%;
  }

  .microphone {
    bottom: 40%;
    right: 8%;
    height: auto;
    width: 16%;
  }

  .homepage-link img {
    height: 60px;
  }

  .title-container {
    width: 512px;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  .landing-title {
    font-size: 150px;
    top: 0;
    left: -8%;
  }

  .landing-title span {
    letter-spacing: -26px;
  }

  .landing-title:nth-child(2) {
    top: 8%;
    left: 0;
  }

  .landing-title:nth-child(3) {
    top: 16%;
    left: 8%;
  }

  .landing-title span {
    letter-spacing: -28px;
  }

  .center_column {
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-button {
    font-family: Window-Medium, sans-serif;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 8%);
    font-size: 30px;
    height: 50px;
    padding: 11px 16px 11px 16px;
  }

  .spotify-logo {
    height: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 25px;
  }

  .piano {
    top: 56%;
    right: 2%;
    width: 45%;
  }

  .guitar {
    top: 67%;
    left: 24%;
    height: auto;
    width: 22%;
  }

  .drums {
    top: 30%;
    left: 2%;
    height: auto;
    width: 25%;
  }

  .vinyl {
    top: 5%;
    right: 4%;
    width: 10%;
  }

  .headphones {
    bottom: 25%;
    left: 6%;
    width: 14%;
  }

  .wave {
    top: 46%;
    right: 35%;
    width: 22%;
  }

  .microphone {
    bottom: 40%;
    right: 8%;
    height: auto;
    width: 16%;
  }

  .homepage-link img {
    height: 55px;
  }

  .title-container {
    width: 512px;
  }
}
@media (min-width: 1000px) and (max-width: 1249px) {
  .landing-title {
    font-size: 200px;
    top: 0;
    left: -9%;
  }

  .landing-title span {
    letter-spacing: -30px;
  }

  .landing-title:nth-child(2) {
    top: 9%;
    left: 0;
  }

  .landing-title:nth-child(3) {
    top: 18%;
    left: 9%;
  }

  .center_column {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-button {
    font-family: Window-Medium, sans-serif;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 8%);
    font-size: 30px;
    height: 55px;
    padding: 13px 18px 13px 18px;
  }

  .spotify-logo {
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 30px;
  }

  .piano {
    top: 60%;
    right: 0;
    width: 30%;
  }
  .guitar {
    top: 64%;
    left: 28%;
    height: auto;
    width: 16%;
  }

  .drums {
    top: 38%;
    left: 3%;
    height: auto;
    width: 25%;
  }

  .vinyl {
    top: 5%;
    right: 5%;
    width: 8%;
  }

  .microphone {
    bottom: 28%;
    right: 15%;
    width: 15%;
  }

  .headphones {
    bottom: 14%;
    left: 6%;
    width: 10%;
  }

  .wave {
    top: 67%;
    right: 35%;
    width: 20%;
  }

  .title-container {
    width: 735px;
  }
}

@media (min-width: 1250px) {
  .landing-title {
    font-size: 200px;
    top: 0;
    left: -10%;
  }

  .landing-title:nth-child(2) {
    top: 10%;
    left: 0;
  }

  .landing-title:nth-child(3) {
    top: 20%;
    left: 10%;
  }

  .center_column {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-button {
    font-family: Window-Medium, sans-serif;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 8%);
    font-size: 30px;
    height: 60px;
    padding: 15px 20px 15px 20px;
  }

  .spotify-logo {
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 30px;
  }

  .vinyl {
    top: 5%;
    right: 5%;
    width: 10%;
  }

  .wave {
    top: 70%;
    right: 45%;
    width: 16%;
  }

  .piano {
    top: 48%;
    right: 10%;
    width: 30%;
  }

  .headphones {
    bottom: 20%;
    left: 5%;
    width: 10%;
  }

  .guitar {
    top: 55%;
    left: 20%;
    width: 16%;
  }

  .microphone {
    bottom: 40%;
    right: 5%;
    width: 12%;
  }

  .drums {
    top: 20%;
    left: 2%;
    width: 20%;
  }

  .title-container {
    width: 735px;
  }
}
