body {
  background-attachment: fixed;
  background-color: #f9efa5;
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1697815069/New_Project_1_1_gapkf8.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

body.dark-mode {
  background-color: #001220;
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1696979324/layered-waves-haikei_7_t5gfjq.svg');
}

.center_column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spacer {
  aspect-ratio: 960/300;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.homepage-link {
  cursor: pointer;
  left: 3px;
  position: absolute;
  top: 1px;
  z-index: 100;
}

.homepage-link img {
  height: 60px;
  transition: transform 0.3s;
  width: auto;
  z-index: 100;
}

.homepage-link:hover img {
  transform: scale(1.05);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 10px;
  padding: 10px 0;
  text-align: center;
}

h2 {
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  text-shadow: 2px 3px 4px #00000070;
}

h1,
h2,
p {
  animation: fadeIn 2s;
  color: #c55469;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p {
  color: #fbae3c;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  margin-top: 15px;
  text-align: center;
  text-shadow: 2px 3px 4px #00000070;
}

.container p {
  color: darkslategrey;
  font-family: Futura, sans-serif;
  font-size: 1rem;
  font-style: oblique;
  font-weight: 300;
  line-height: 1.5;
  max-width: 400px;
  overflow-wrap: normal;
  text-align: left;
}

body.dark-mode .container p {
  color: #fa9845;
}

.login-button {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 8%);
  color: #191919;
  display: flex;
  font-size: 1.3em;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  padding: 10px 15px 10px 10px;
  text-decoration: none;
  transition: box-shadow 0.3s;
}

body.dark-mode .login-button {
  background-color: #f1f9f2;
  color: #001220;
}

.login-button,
.login-button img {
  line-height: normal;
  vertical-align: middle;
}

.spotify-logo {
  height: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  width: 20px;
}

.spotify-logo img {
  overflow: clip;
  overflow-clip-margin: content-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.login-button:hover {
  box-shadow: 0 6px 15px rgb(0 0 0 / 10%);
  text-decoration: none;
  transform: translateY(-2px);
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

html {
  scroll-behavior: smooth;
}

* {
  transition: all 0.3s ease;
}

.logo-container {
  position: relative;
  display: inline-block; /* Added to wrap content around the text */
}
@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  0% {
    transform: translate(20px, 20px); /* Starting position */
    opacity: 0;
  }
  100% {
    transform: translate(10px, 10px); /* Ending position */
    opacity: 0.3; /* Adjust the ending opacity if necessary */
  }
}

.logo-text {
  font-size: 6em;
  font-weight: 900;
  letter-spacing: -3px;
  background: -webkit-linear-gradient(left, #3498db, #004e89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  animation: fadeInZoom 1.5s ease-in-out;
}

body.dark-mode .logo-text {
  font-size: 6em;
  font-weight: 900;
  letter-spacing: -3px;
  background: -webkit-linear-gradient(left, #fbae3c, #e9705a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  animation: fadeInZoom 1.5s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.3); /* Black with 30% opacity */
  transform: translate(15px, 15px); /* Move the overlaid text slightly */
  z-index: 2;
  animation: slideIn 0.5s forwards;
  transition: all 0.3s ease-out; /* Adjust the timing if necessary */
}

body.dark-mode .overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.3); /* Black with 30% opacity */
  transform: translate(15px, 15px); /* Move the overlaid text slightly */
  z-index: 2;
  animation: slideIn 0.5s forwards;
  transition: all 0.3s ease-out; /* Adjust the timing if necessary */
}

.outter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-element {
  text-align: center;
}
