body {
  background-color: #fff;
  font-family: Futura, sans-serif;
  overflow-x: hidden;
  width: 100%;
}

h1 {
  color: #022b3a;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

h2 {
  color: #022b3a;
  font-family: Futura, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

p {
  color: #022b3a;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
}

.homepage-link {
  cursor: pointer;
  left: 3px;
  position: absolute;
  top: 1px;
}

.homepage-link img {
  height: 60px;
  transition: transform 0.3s;
  width: auto;
}

.homepage-link:hover img {
  transform: scale(1.05);
}

#playlist-container {
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
  padding: 20px;
}

.playlist-name,
.playlist-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top-right-nav {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.profile-link {
  background-color: #022b3a;
  border: 1px solid #022b3a;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 8px;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 100%;
}

@keyframes dynamicShadow {
  0% {
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px 40px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.5);
  }
}

@keyframes sparkle {
  0% {
    box-shadow:
      0 0 10px 2px red,
      0 0 20px 2px rgba(255, 255, 255, 0.5),
      0 0 30px 5px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow:
      0 0 20px 5px pink,
      0 0 30px 10px rgba(255, 255, 255, 0.5),
      0 0 40px 15px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 10px 2px orange,
      0 0 20px 2px rgba(255, 255, 255, 0.5),
      0 0 30px 5px rgba(255, 255, 255, 0.5);
  }
}

.profile-link:hover {
  background-color: #fff;
  color: #022b3a;
  text-decoration: none;
}

.playlist-info {
  align-items: center;
  color: #704214;
  display: flex;
  flex-direction: column;
  height: 200px;
  text-decoration: none;
  width: 200px;
}

.image-container {
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

.image-container:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.playlist-image {
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  height: 200px;
  min-height: 200px;
  min-width: 200px;
  object-fit: cover;
  width: 200px;
}

.playlist-name {
  align-items: center;
  background-color: black;
  font-family: Futura, sans-serif;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  height: 20%;
  justify-content: center;
  max-width: 200px;
  text-align: center;
  text-decoration: none;
}

.overlay-text {
  font-family: Futura, sans-serif;
  align-items: center;
  background-color: rgb(0 0 0 / 80%);
  border-radius: 5px;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
}

.playlist-item {
  margin-bottom: 20px;
}
