body {
  background-color: #faf0be;
  font-family: Futura, sans-serif;
  overflow-x: hidden;
  width: 100%;
}

body.dark-mode {
  background-color: #0c1c30;
}

@media only screen and (max-width: 768px) {
  #background {
    background-position: center;
    background-size: cover;
    height: 100vh; /* 100% of the viewport height */
    position: fixed;
    width: 100vw; /* 100% of the viewport width */
    background-image: url('/secure_image?public_id=v1698250748/New_Project_6_vzrhef&c_fill&g_auto&dpr_auto&w_auto');
    z-index: 100;
    top: 0;
    left: 0;
  }
}

h1 {
  color: #368dbf;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

body.dark-mode h1 {
  color: #fbae3c;
}

h2 {
  color: #368dbf;
  font-family: Futura, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

body.dark-mode h2 {
  color: #fa9845;
}

p {
  color: #368dbf;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
}
body.dark-mode p {
  color: #fbae3c;
}

.homepage-link {
  cursor: pointer;
  left: 3px;
  position: absolute;
  z-index: 100;
  top: 1px;
  -webkit-touch-callout: none;
  user-select: none;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1697028662/PhotopeaLogo_3_kqya4t.png');
  transition: transform 0.3s;
}

body.dark-mode .homepage-link {
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1697008847/PhotopeaLogo_2_gfjzyh.png');
}

.homepage-link:hover {
  transform: scale(1.05);
}

#playlist-container {
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
  padding: 20px;
}

.playlist-name,
.playlist-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top-right-nav {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

@keyframes dynamicShadow {
  0% {
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px 40px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.5);
  }
}

@keyframes sparkle {
  0% {
    box-shadow:
      0 0 10px 2px red,
      0 0 20px 2px rgba(255, 255, 255, 0.5),
      0 0 30px 5px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow:
      0 0 20px 5px pink,
      0 0 30px 10px rgba(255, 255, 255, 0.5),
      0 0 40px 15px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 10px 2px orange,
      0 0 20px 2px rgba(255, 255, 255, 0.5),
      0 0 30px 5px rgba(255, 255, 255, 0.5);
  }
}

.image-container {
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

.image-container:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.playlist-image {
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  height: 200px;
  min-height: 200px;
  min-width: 200px;
  object-fit: cover;
  width: 200px;
}

.playlist-name {
  align-items: center;
  background-color: black;
  font-family: Futura, sans-serif;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  height: 20%;
  justify-content: center;
  max-width: 200px;
  text-align: center;
  text-decoration: none;
}

.overlay-text {
  font-family: Futura, sans-serif;
  align-items: center;
  background-color: rgb(0 0 0 / 80%);
  border-radius: 5px;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
}

.playlist-item {
  margin-bottom: 20px;
}

.pagination {
  text-align: center;
  justify-content: center;
  margin: 20px 0;
  gap: 100px;
}

.pagination a {
  color: #fff;
  padding: 8px 16px;
  margin: 0 4px;
  background-color: #368dbf;
  text-decoration: none;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #555;
}

body.dark-mode .pagination a {
  background-color: #fbae3c;
}
