@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  transition: all 0.3s ease;
}
body {
  animation: fadeIn 1s ease-out;
  background-attachment: fixed;
  background-color: #faf0be;
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1698266069/ffflux-svg_1_vrj1ue_b1sbr4.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #368dbf;
  font-family: Futura, sans-serif;
  line-height: 1.6;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

body.dark-mode {
  background-color: #001220;
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1698265749/blob-scene-haikei_3_pptlg9_y5tidv.svg');
}

h1 {
  color: #004e89;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
}

body.dark-mode h1,
body.dark-mode h3 {
  color: #fbae3c;
}

h1,
h2 {
  margin-bottom: 20px;
  margin-top: 0;
}

h3 {
  color: #368dbf;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
}

.container {
  margin-top: 100px;
  max-width: 1200px;
  padding: 20px;
}

.homepage-link {
  cursor: pointer;
  left: 3px;
  position: absolute;
  z-index: 100;
  top: 1px;
  -webkit-touch-callout: none;
  user-select: none;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  background-image: url('/secure_image?public_id=v1701024834/colorfullogo_ypzgak.svg');
  transition: transform 0.3s;
}

body.dark-mode .homepage-link {
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1697008847/PhotopeaLogo_2_gfjzyh.png');
}

.homepage-link:hover {
  transform: scale(1.05);
}

.card {
  background-color: #f2b280;
  border-color: #c55469;
  border-radius: 8px;
  position: relative;
  box-shadow:
    2.8px 2.8px 2.2px rgb(0 0 0 / 2%),
    6.7px 6.7px 5.3px rgb(0 0 0 / 2.8%),
    12.5px 12.5px 10px rgb(0 0 0 / 3.5%),
    22.3px 22.3px 17.9px rgb(0 0 0 / 4.2%),
    41.8px 41.8px 33.4px rgb(0 0 0 / 5%),
    100px 100px 80px rgb(0 0 0 / 7%);
  color: #009bf5;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 420px;
  margin-bottom: 30px;
  max-height: 420px;
  padding: 30px;
}

body.dark-mode .card {
  background-color: #312c4f;
  color: #fa9845;
}

.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  overflow-x: hidden;
  white-space: nowrap;
}

.media-body {
  flex: 1;
}

.text-muted {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.media-body h1 {
  font-size: 30px;
  text-align: left;
}

.btn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-family: Futura, sans-serif;
  font-weight: bold;
  margin-top: 20px;
  padding: 14px 26px;
  text-decoration: none;
  transition:
    background-color 0.3s,
    transform 0.3s;
  width: 60%;
}

.btn:hover {
  background-color: #ff8a90;
  transform: scale(1.05);
}

.btn-primary {
  background-color: #fd7b6d;
  color: #ffe5ec;
  font-style: oblique;
  font-weight: bolder;
  padding: 8px 16px;
}

.btn-info {
  background-color: #fd7b6d;
  color: #ffe5ec;
  display: flex;
  flex-direction: column;
  font-style: oblique;
  font-weight: bolder;
  justify-content: center;
  padding: 8px 16px;
}

.btn-xs {
  background-color: #fd7b6d;
  color: #ffe5ec;
  font-size: 0.9rem;
  font-style: oblique;
  font-weight: bold;
  padding: 8px 16px;
}

.btn-success {
  background-color: #5b9ae6;
  color: #ffe5ec;
  font-style: oblique;
  font-weight: bold;
  margin-right: 15px;
}

.btn-danger {
  background-color: #bf3643;
  color: #ffe5ec;
  font-style: oblique;
  font-weight: bold;
}

body.dark-mode .btn:hover {
  background-color: #fa9845;
}

body.dark-mode .btn-primary,
body.dark-mode .btn-info,
body.dark-mode .btn-xs {
  background-color: #c55469;
  color: #ffe5ec;
}

body.dark-mode .btn-success {
  background-color: #4694fa;
  color: #ffe5ec;
}

body.dark-mode .btn-danger {
  background-color: #dc3545;
  color: #ffe5ec;
}

dl dt {
  font-weight: bold;
  margin-bottom: 5px;
}

.recent-tracks {
  list-style-type: none;
  max-height: 350px;
  overflow-y: auto;
}

.recent-tracks li {
  font-size: 1em;
  margin-bottom: 10px;
}
p {
  color: #4297ff;
}

body.dark-mode p {
  color: #fa9845;
}
