/* Global Styles */
body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  padding: 20px;
  display: flex;
  background: linear-gradient(
    90deg,
    #4f772d,
    #5a803a,
    #668946,
    #719253,
    #7d9b60,
    #88a56d,
    #94ae7a,
    #9fb787,
    #abc194,
    #b6cba2,
    #c2d4af,
    #cedebd
  );
  flex-direction: column;
  align-items: center;
}

h1 {
  transform: translateY(
    -30px
  ); /* Adjust the value to align the h1 with the logo */
  text-align: center;
}

/* Navigation and Links */
.homepage-link {
  position: absolute;
  top: 1px;
  left: 3px;
  cursor: pointer;
}

.homepage-link img {
  height: 60px;
  width: auto;
  transition: transform 0.3s;
}

.homepage-link:hover img {
  transform: scale(1.05);
}

.custom-line {
  border: none;
  height: 2px;
  background-color: black;
  margin: 5px 0;
  width: 100%;
  clear: both;
  display: block;
}

.instructions-container {
  padding: 5px;
  font-size: 14px;
}

audio {
  display: none; /* Hide the audio elements */
}

/* Main Container and Layout */
.main-container {
  display: flex;
  margin-top: -5px;
  justify-content: space-around;
  width: 100%;
  background-color: #9eb384;
  padding: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; /* Add this line to prevent the entire page from scrolling */
}

/* Search Container */
.search-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  margin-top: 10px;
}

.search-container input,
.search-container label {
  font-family: "Helvetica Neue", serif;
  font-size: 14px; /* Adjust the font size */
}

#track_container,
#artist_container {
  flex: 2;
}

#genre_container {
  flex: 1;
}

.input-container {
  position: relative;
  display: inline-block;
}

#track_input,
#artist_input,
#genre_input {
  padding-right: 30px; /* to make space for the magnifying glass icon */
}

.search-btn {
  position: absolute;
  right: 5px; /* adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}

.search-icon {
  width: 16px;
  height: 16px;
  display: block;
}

/* Add hover effect to seeds */
#track_seeds_container .clickable-result:hover,
#artist_seeds_container .clickable-result:hover,
#genre_seeds_container .genre-seed:hover {
  background-color: rgba(
    255,
    0,
    0,
    0.2
  ); /* Light red background to indicate removal */
  cursor: pointer;
}

#track_search_results,
#artist_search_results,
#genre_search_results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  padding: 1px;
}

#genre_search_results {
  width: 100%;
  line-height: 1;
  word-wrap: break-word;
  padding: 3px;
}

.clickable-result {
  cursor: pointer;
  background-color: #9eb384;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: auto;
  max-width: 200px;
  overflow: hidden;
  height: 60px;
}

.clickable-genre {
  cursor: pointer;
  font-size: 12px;
  background-color: #9eb384;
  font-weight: bolder;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.clickable-result:hover,
.clickable-genre:hover {
  background-color: #d0d0d0;
}

.result-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.result-info h2 {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-size: 12px;
}

.result-info p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.instructions {
  display: block;
  cursor: pointer; /* Add this line */
}
/* Form Container */

/* Style the entire slider container */
.ui-slider {
  background-color: #224120; /* Left to right gradient */
  height: 6px; /* Adjust the height of the slider track */
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 22px;
  margin-left: 7px;
}

.ui-slider.ui-slider .ui-slider-handle:nth-child(2) {
  background: #31572c; /* Desired color for the first handle */
}

.ui-slider.ui-slider .ui-slider-handle:nth-child(3) {
  background: #90a955; /* Desired color for the second handle */
}

/* Style the slider handle */
.ui-slider .ui-slider-handle {
  width: 17px; /* Adjust the width of the handle */
  height: 17px; /* Adjust the height of the handle */
  border-radius: 50%; /* Makes the handle round */
  top: -7px; /* Adjust the vertical position to center on the track */
}

/* Style the colored range between the handles in a range slider */
.ui-slider .ui-slider-range {
  background: linear-gradient(
    to right,
    #31572c,
    #90a955
  ); /* Left to right gradient */
}

.ui-slider::before {
  content: attr(data-min); /* Display min value */
  position: absolute;
  left: 0; /* Align to the start of the slider */
  top: 10px; /* Adjust this value to position the label above the slider */
  font-size: 10px; /* Adjust font size as needed */
  color: #000000; /* Color of the label */
}

.ui-slider::after {
  content: attr(data-max); /* Display max value */
  position: absolute;
  right: 0; /* Align to the end of the slider */
  top: 10px; /* Adjust this value to position the label above the slider */
  font-size: 10px; /* Adjust font size as needed */
  color: #000000; /* Color of the label */
}

.form-container {
  flex: 1;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-container form,
.form-container label,
.form-container input,
.form-container select,
.form-container button {
  display: block;
  margin-bottom: 4px;
  width: 95%;
  font-family: "Helvetica Neue", serif;
  font-size: 14px;
  /* Ensures the input and button take the full width */
}

.form-container input,
.form-container select,
.form-container button {
  background-color: #cedebd;
}

.seed-container {
  flex: 1;
  max-width: 25%;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#track_seeds_container,
#artist_seeds_container,
#genre_seeds_container {
  border: 1px solid #31572c;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #e9f2e5;
  display: grid; /* Enable grid layout */
  grid-template-columns: 1fr 1fr; /* Define two columns of equal width */
  gap: 3px; /* Gap between grid items */
}

#track_seeds_container label,
#artist_seeds_container label,
#genre_seeds_container label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}
/* Results Container */

.results-container {
  flex: 1;
  max-width: 25%;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#results {
  font-family: "Helvetica Neue", serif; /* Optional: You can change the font family */
  font-size: 12px; /* Adjust the font size */
  color: #333;
  padding: 5px;
  width: 100%; /* Full width */
  margin: 0 auto;
  white-space: normal;
  word-wrap: break-word;
  max-width: 95%; /* you can adjust this value based on your design */
}

.search-title {
  text-align: left;
  align-self: flex-start;
  margin-top: -15px;
  margin-bottom: 0;
}

.loading-alert,
.error-alert {
  display: none;
  margin-top: 10px;
  border-radius: 5px;
}

.loading-alert {
  color: blue; /* Light yellow background */
}

.error-alert {
  color: red; /* Light red background */
}

#results h2 {
  font-size: 14px; /* Adjust the font size for the title */
  font-weight: bold; /* Make it bold */
}

#results p {
  font-size: 12px; /* Adjust the font size for the paragraph */
}

.result-item {
  border-bottom: 1px solid;
  border-color: #000000; /* Add a bottom border to each result item */
  padding-bottom: 20px; /* Add some padding to the bottom */
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.result-text {
  margin-left: 10px;
}

/* Album Art and Play Button */
.result-cover-art-container {
  position: relative;
  width: 150px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #fff;
  display: none;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  width: 100%;
}

.result-cover-art-container:hover .play-button {
  display: block;
}

.result-cover-art-container:hover .result-cover-art {
  opacity: 0.6;
}

.result-cover-art {
  width: 150px;
}
.result-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.add-seed {
  align-self: flex-start; /* Ensures the button starts at the beginning */
  background-color: #cedebd;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
}

html {
  scroll-behavior: smooth;
}

* {
  transition: all 0.3s ease;
}

.top-right-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column; /* Stack vertically */
  gap: 10px; /* space between the links and the button */
}

.nav-buttons {
  display: flex; /* Horizontal alignment for the links */
  gap: 10px;
}

.profile-link,
.stats-link {
  text-decoration: none;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: bold;
  background-color: #1ed760;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  transition: background-color 0.3s ease;
}

.profile-link:hover,
.stats-link:hover {
  background-color: #f5f5f5;
}

#showInstructions {
  width: 100%; /* width of both buttons + gap */
  font-size: 13px;
  background-color: #1ed760;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

#showInstructions:hover {
  background-color: #0056b3;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  overflow-y: hidden;
  margin-top: 0;
  /* In case the modal content is long */
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  border-radius: 5px;
  width: 70%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}
