body {
  align-items: center;
  background-attachment: fixed;
  background-color: #02343f;
  display: flex;
  flex-direction: column;
  font-family: Futura, sans-serif;
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 30px;
}

body.dark-mode {
  background-color: #0c1c30;
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

.form-container input {
  color: #f0edcc;
  letter-spacing: 0;
  margin-top: 30px;
}

.homepage-link {
  cursor: pointer;
  left: 3px;
  position: absolute;
  top: 1px;
}

.homepage-link img {
  height: 50px;
  transition: transform 0.3s;
  width: auto;
}

.homepage-link:hover img {
  transform: scale(1.05);
}

html {
  scroll-behavior: smooth;
}

* {
  transition: all 0.3s ease;
}

.top-right-nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: fixed;
  right: 155px;
  top: 30px;
}

.nav-buttons {
  display: flex;
  gap: 6px;
}

#showInstructions {
  background-color: #f0edcc;
  border: transparent;
  border-radius: 5px;
  color: #02343f;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 8px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  width: 100%;
}

body.dark-mode #showInstructions {
  background-color: #fbae3c;
  color: #001220;
}

#showInstructions:hover {
  background-color: #1e4174;
}

body.dark-mode #showInstructions:hover {
  background-color: #001220;
  color: #fbae3c;
  box-shadow: 0 0 15px 5px #fbae3c;
}

.modal {
  background-color: rgb(0 0 0 / 70%);
  display: none;
  height: 100%;
  left: 0;
  margin-top: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.modal-content {
  background-color: #f0edcc;
  border-radius: 5px;
  color: #02343f;
  margin: 5% auto;
  padding: 20px;
  width: 70%;
}

body.dark-mode .modal-content {
  background-color: #312c4f;
  color: #e07657;
}

.close {
  color: black;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  left: 0;
  top: 0;
}

.close:hover {
  color: red;
}

h1 {
  color: #f0edcc;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 25px;
  position: absolute;
  text-align: center;
  transform: translateY(-30px);
}

.custom-line {
  background-color: #f0edcc;
  border: none;
  clear: both;
  display: block;
  height: 2px;
  margin-bottom: 0;
  margin-top: 30px;
  width: 100%;
}

body.dark-mode h1 {
  color: #fbae3c;
}

body.dark-mode .custom-line {
  background-color: #96446e;
}

.instructions-container {
  font-size: 14px;
  padding: 5px;
}

.instructions {
  cursor: pointer;
  display: block;
}

.search-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
  padding-bottom: 100px;
  width: 100%;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 34%;
  top: 50%;
  transform: translateY(-50%);
}

.search-icon {
  display: block;
  height: 16px;
  width: 16px;
}

#universal_seeds_container .clickable-result {
  box-shadow: 0 0 25px 5px #02343f;
}

body.dark-mode #universal_seeds_container .clickable-result {
  box-shadow: 0 0 25px 5px #fa9845;
}

#universal_search_results {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  gap: 10px;
  margin-top: 35px;
  padding-bottom: 80px;
  position: absolute;
}

.clickable-result {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 55px 10px #f0edcc;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-top: 10px;
  max-height: 75px;
  max-width: 75px;
  overflow: hidden;
  position: relative;
}

body.dark-mode .clickable-result {
  box-shadow: 0 0 55px 10px #fbae3c;
}

.clickable-result:hover {
  transform: scale(1.05);
}

.result-image {
  border-radius: 5px;
  height: 75px;
  width: 75px;
}

.result-info {
  background: rgb(0 0 0 / 60%);
  bottom: 0;
  color: white;
  padding-top: 2px;
  position: absolute;
  width: 75px;
}

.result-info h2 {
  color: white;
  font-size: 9px;
  font-weight: bolder;
  margin: 0;
  margin-left: 5px;
  padding: 0;
}

h3 {
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;
  padding: 0;
  width: 100%;
}

h2,
h3 {
  align-items: center;
  color: #02343f;
  display: flex;
  justify-content: center;
  position: relative;
}

body.dark-mode h2,
body.dark-mode h3 {
  color: #fa9845;
}

h2 {
  margin-bottom: 20px;
}

.result-info p {
  align-items: center;
  display: flex;
  font-size: 9px;
  justify-content: center;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  position: relative;
}

.seed-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-right: 30px;
  position: sticky;
  width: 100px;
}

#universal_seeds_container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  flex-direction: column;
  gap: 2px;
  padding: 10px;
}

#universal_input::placeholder {
  color: #02343f;
  font-size: 16px;
  font-weight: 600;
}

body.dark-mode #universal_input::placeholder {
  color: #001220;
}

#universal_container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

#universal_input {
  background-color: #f0edcc;
  border-color: transparent;
  border-radius: 8px;
  box-shadow:
    0 4px 8px 0 rgb(0 0 0 / 20%),
    0 6px 20px 0 rgb(0 0 0 / 19%);
  color: #02343f;
  min-height: 30px;
  padding-right: 30px;
  width: 30%;
}

.main-container {
  background-color: #f0edcc;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  display: flex;
  height: 100vh;
  justify-content: space-around;
  margin-top: -10px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px;
  width: 100%;
}

.form-container {
  display: flex;
  flex: 2;
  flex-direction: column;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 10px;
  padding-right: 30px;
  position: sticky;
  width: 100%;
}

.form-container form,
.form-container input,
.form-container select,
.form-container button {
  display: block;
  font-size: 14px;
  width: 100%;
}

.form-container input,
.form-container limit,
.form-container select {
  border-radius: 5px;
  color: #f0edcc;
  cursor: pointer;
  font-family: Futura, sans-serif;
  margin-bottom: 5px;
}

body.dark-mode .form-container input,
body.dark-mode .form-container limit,
body.dark-mode .form-container select {
  border-radius: 5px;
  color: #001220;
  cursor: pointer;
  font-family: Futura, sans-serif;
  margin-bottom: 5px;
}

.form-container select {
  margin-bottom: 15px;
}

.form-container label {
  color: #02343f;
  display: flex;
  font-weight: 800;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

body.dark-mode .form-container label {
  color: #e07657;
}

.form-container input,
.form-container select,
.form-container button {
  background-color: #02343f;
}

body.dark-mode .form-container input,
body.dark-mode .form-container select,
body.dark-mode .form-container button,
body.dark-mode #universal_input {
  background-color: #c55469;
}

.ui-slider {
  background-color: #ac1b1dff;
  border-color: transparent;
  border-radius: 3px;
  height: 5px;
  margin-bottom: 22px;
  margin-left: 7px;
  margin-top: 10px;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  border-color: transparent;
}

.ui-slider.ui-slider .ui-slider-handle:nth-child(2) {
  background: #ca4b34;
}

.ui-slider-range .ui-corner-all .ui-widget-header {
  border-color: transparent;
}

.ui-slider.ui-slider .ui-slider-handle:nth-child(3) {
  background: #f49130;
}

.ui-slider .ui-slider-handle {
  border-radius: 50%;
  height: 15px;
  top: -7px;
  width: 15px;
}

.ui-slider .ui-slider-range {
  background: linear-gradient(
    90deg,
    hsl(9deg 59% 50% / 100%) 0%,
    hsl(359deg 73% 39% / 100%) 50%,
    hsl(32deg 97% 59% / 100%) 100%
  );
}

.ui-slider::before {
  color: #02343f;
  content: attr(data-min);
  font-family: Futura, sans-serif;
  font-size: 10px;
  left: 0;
  position: absolute;
  top: 10px;
}

.ui-slider::after {
  color: #02343f;
  content: attr(data-max);
  font-family: Futura, sans-serif;
  font-size: 10px;
  position: absolute;
  right: 0;
  top: 10px;
}

body.dark-mode .ui-slider::before,
body.dark-mode .ui-slider::after,
body.dark-mode .dropdown-content a {
  color: #e07657;
}

.results-container {
  flex: 3;
  margin-right: 20px;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#results {
  color: #333;
  font-size: 12px;
  max-width: 95%;
  white-space: normal;
  width: 100%;
  word-wrap: break-word;
}

.result-cover-art {
  border-radius: 5px;
  box-shadow:
    4px 5px 8px 0 rgb(0 0 0 / 20%),
    0 2px 20px 0 rgb(0 0 0 / 19%);
  height: auto;
  width: 200px;
}

.result-item .result-cover-art-container {
  position: relative;
}

.result-item .result-cover-art-container .caption {
  background: rgb(0 0 0 / 80%);
  border-radius: 5px;
  bottom: 3px;
  box-sizing: border-box;
  color: white;
  position: absolute;
  width: 100%;
}

body.dark-mode .result-item h2 {
  color: white;
}
.result-item h2 {
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 0;
}

.result-item p {
  align-items: center;
  display: flex;
  font-size: 10px;
  justify-content: center;
  padding: 0;
  position: relative;
}

.result-item {
  align-items: flex-start;
  border-bottom: 1px solid;
  border-color: #000;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.play-button {
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 48px;
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

audio {
  display: none;
}

.result-cover-art-container:hover .play-button {
  display: block;
}

.result-cover-art-container:hover .result-cover-art {
  opacity: 0.6;
}

.dropdown-content {
  font-size: 13px;
}

.dropdown-content a {
  border-radius: 5px;
  color: #02343f;
  display: grid;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 5px;
  text-decoration: none;
  transition:
    background-color 0.3s,
    transform 0.3s;
  width: fit-content;
}

.dropdown-content a:hover {
  background-color: #f5f5f5;
  color: #0c1c30;
  transform: scale(1.05);
}

#playlistOptions {
  align-content: space-around;
  align-items: stretch;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.playlist-option {
  color: black;
  margin-bottom: 50px;
  text-decoration: none;
  width: 200px;
}

.playlist-modal-content {
  background-color: #02343f;
  border-radius: 5px;
  left: 40%;
  margin: 10% auto;
  max-height: 80%;
  overflow-y: auto;
  padding: 10px;
  position: fixed;
  width: 250px;
}

body.dark-mode .main-container,
body.dark-mode .playlist-modal-content {
  background-color: #312c4f;
}

.playlist-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
}

.playlist-item:hover {
  box-shadow:
    0 4px 8px 0 rgb(0 0 0 / 40%),
    0 6px 20px 0 rgb(0 0 0 / 39%);
  transform: scale(1.05);
}

.playlist-image {
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.playlist-name {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 20%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.loading-alert,
.error-alert {
  border-radius: 5px;
  display: none;
  margin-top: 8px;
  padding-left: 250px;
  position: absolute;
}

.loading-alert {
  color: blue;
}

.error-alert {
  color: red;
}

#toast {
  background-color: #333;
  border-radius: 5px;
  color: white;
  padding: 10px;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

body.dark-mode #toast {
  background-color: white;
  color: #0c1c30;
}
