body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f9efa5;
  color: #e34b31;
  font-family: Futura, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  #background {
    background-position: center;
    background-size: cover;
    height: 100vh; /* 100% of the viewport height */
    position: fixed;
    width: 100vw; /* 100% of the viewport width */
    background-image: url('/secure_image?public_id=v1698250748/New_Project_6_vzrhef&c_fill&g_auto&dpr_auto&w_auto');
    z-index: 100;
    top: 0;
    left: 0;
  }
}

.homepage-link {
  cursor: pointer;
  left: 3px;
  position: absolute;
  z-index: 100;
  top: 1px;
  -webkit-touch-callout: none;
  user-select: none;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1697028662/PhotopeaLogo_3_kqya4t.png');
  transition: transform 0.3s;
}

body.dark-mode .homepage-link {
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1697008847/PhotopeaLogo_2_gfjzyh.png');
}

.homepage-link:hover {
  transform: scale(1.05);
}

.game-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(197, 84, 105);
  box-shadow: 3px 3px 10px rgb(233, 112, 90);
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
  border-radius: 10px;
}

#login-button {
  padding: 10px 12px;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition:
    background 0.2s,
    color 0.2s;
  border-bottom: 1px solid #eaeaea;
}

body.dark-mode .login-button {
  background-color: #f1f9f2;
  color: #001220;
}

.spotify-logo {
  margin-right: 10px;
}

.spotify-logo img {
  overflow: clip;
  overflow-clip-margin: content-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#login-button:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #1db954;
}

h1 {
  position: absolute;
  margin-top: 0;
  top: 0;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 5rem;
  margin-bottom: 150px;
  text-shadow: 2px 3px 4px #00000070;
}

#filter-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

#song-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

#audio-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#search-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

input[type='text'] {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1d1d1d;
  color: #fff;
}

#bottom-buttons {
  display: flex;
  gap: 10px;
}

.feedback-message {
  text-align: center;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  display: none; /* Initially hidden */
}

.feedback-message.correct {
  background-color: #4caf50; /* Green */
  color: white;
}

.feedback-message.wrong {
  background-color: #ffc107; /* Amber */
  color: black;
}

.feedback-message.lose {
  background-color: #f44336; /* Red */
  color: white;
}
