html,
body {
  height: 100%;
}

body {
  background-color: #faf0be;
  font-family: Futura, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 20px;
}

body.dark-mode {
  background-color: #0c1c30;
  color: #e9705a;
}

.top-right-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 10px;
  top: 5px;
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

.homepage-link {
  cursor: pointer;
  left: 3px;
  position: absolute;
  top: 1px;
}

.homepage-link img {
  height: 60px;
  transition: transform 0.3s;
  width: auto;
}

.pl-refresh {
  background-color: #faa973;
  border: transparent;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: Futura, sans-serif;
  font-size: 10px;
  font-weight: bold;
  height: 50%;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 150px;
}

body.dark-mode .pl-refresh {
  background-color: #e07657;
}

.button-group {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-top: -10px;
  padding: 20px;
}

.button-group button {
  background-color: #784a6b;
  border: transparent;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 8px;
  transition: transform 0.3s ease;
}

body.dark-mode .button-group button {
  background-color: #623965;
}

.button-group button:active,
.plfunc-group button:active,
.plorder-group button:active {
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  transform: translateY(1px);
}

#stats-section {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
}

.plfunc-group,
.plorder-group {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  margin-top: -10px;
  padding: 20px;
  width: 100%;
}

.plfunc-group button,
.plorder-group button {
  background-color: #784a6b;
  border: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  color: white;
  cursor: pointer;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 14px;
  font-weight: bold;
  gap: 35px;
  margin: 0 auto;
  padding: 6px 10px;
  transition: transform 0.3s ease;
  width: 60%;
}

body.dark-mode .plfunc-group button,
body.dark-mode .plorder-group button {
  background-color: #623965;
}

#like-all-songs-btn,
#order-asc-btn,
#rd-asc-btn {
  background-color: #36bf88;
  color: #fff;
}

body.dark-mode #like-all-songs-btn,
body.dark-mode #order-asc-btn,
body.dark-mode #rd-asc-btn {
  background-color: #59b485;
}

#unlike-all-songs-btn,
#order-desc-btn,
#rd-desc-btn {
  background-color: #bf363a;
  color: #fff;
}

body.dark-mode #unlike-all-songs-btn,
body.dark-mode #order-desc-btn,
body.dark-mode #rd-desc-btn {
  background-color: #c55469;
}

#remove-duplicates-btn,
#shuffle-btn {
  background-color: #2b59c3;
  color: #f8f9fa;
}

body.dark-mode #remove-duplicates-btn,
body.dark-mode #shuffle-btn {
  background-color: #5487c4;
}

.modal {
  background-color: rgb(0 0 0 / 70%);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  margin: 15% auto;
  padding: 20px;
  width: 70%;
}

body.dark-mode .modal-content {
  background-color: #1f2440;
  color: #c55469;
}

.data-view {
  opacity: 0;
  transition: opacity 1s;
}

.data-view.animate {
  opacity: 1;
}

h1 {
  color: #368dbf;
  font-family: Futura, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

body.dark-mode h1 {
  color: #fbae3c;
}

h2 {
  color: #296c93;
  font-family: Futura, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-top: 0;
  text-decoration: none;
}

body.dark-mode h2 {
  color: #fa9845;
}

p {
  color: #3f4d56;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
}

body.dark-mode p {
  color: #e9705a;
}

.homepage-link:hover img,
.profile-link:hover,
.pl-refresh:hover,
#generate-art-btn:hover,
.button-group button:hover,
.plfunc-group button:hover,
.plorder-group button:hover,
.playlist-container a:hover,
.artist-container:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.pl-refresh,
.profile-link,
#generate-art-btn:hover,
.button-group button,
.plfunc-group button,
.plorder-group button {
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

@keyframes sparkle {
  0% {
    box-shadow:
      0 0 10px 2px #94a6dc,
      0 0 20px 2px rgb(255 255 255 / 50%),
      0 0 30px 5px rgb(255 255 255 / 50%);
  }

  50% {
    box-shadow:
      0 0 20px 5px pink,
      0 0 30px 10px rgb(255 255 255 / 50%),
      0 0 40px 15px rgb(255 255 255 / 50%);
  }

  100% {
    box-shadow:
      0 0 10px 2px #f3e3e3,
      0 0 20px 2px rgb(255 255 255 / 50%),
      0 0 30px 5px rgb(255 255 255 / 50%);
  }
}

@keyframes sparkleRed {
  0%,
  100% {
    box-shadow:
      0 0 10px 2px red,
      0 0 20px 2px rgb(255 255 255 / 50%),
      0 0 30px 5px rgb(255 255 255 / 50%);
  }

  50% {
    box-shadow:
      0 0 20px 5px red,
      0 0 30px 10px rgb(255 255 255 / 50%),
      0 0 40px 15px rgb(255 255 255 / 50%);
  }
}

@keyframes sparkleGreen {
  0%,
  100% {
    box-shadow:
      0 0 10px 2px green,
      0 0 20px 2px rgb(255 255 255 / 50%),
      0 0 30px 5px rgb(255 255 255 / 50%);
  }

  50% {
    box-shadow:
      0 0 20px 5px green,
      0 0 30px 10px rgb(255 255 255 / 50%),
      0 0 40px 15px rgb(255 255 255 / 50%);
  }
}

@keyframes sparkleBlue {
  0%,
  100% {
    box-shadow:
      0 0 10px 2px blue,
      0 0 20px 2px rgb(255 255 255 / 50%),
      0 0 30px 5px rgb(255 255 255 / 50%);
  }

  50% {
    box-shadow:
      0 0 20px 5px blue,
      0 0 30px 10px rgb(255 255 255 / 50%),
      0 0 40px 15px rgb(255 255 255 / 50%);
  }
}

@keyframes sparklePurple {
  0%,
  100% {
    box-shadow:
      0 0 10px 2px purple,
      0 0 20px 2px rgb(255 255 255 / 50%),
      0 0 30px 5px rgb(255 255 255 / 50%);
  }

  50% {
    box-shadow:
      0 0 20px 5px purple,
      0 0 30px 10px rgb(255 255 255 / 50%),
      0 0 40px 15px rgb(255 255 255 / 50%);
  }
}

#refresh-btn:hover,
.playlist-cover:hover {
  animation: sparkle 5s infinite;
}

#like-all-songs-btn:hover,
#order-asc-btn:hover,
#rd-asc-btn:hover {
  animation: sparkleGreen 5s infinite;
}

#unlike-all-songs-btn:hover,
#order-desc-btn:hover,
#rd-desc-btn:hover {
  animation: sparkleRed 5s infinite;
}

#remove-duplicates-btn:hover,
#shuffle-btn:hover {
  animation: sparkleBlue 5s infinite;
}

#recommendations-btn:hover {
  animation: sparklePurple 5s infinite;
}

.top-section {
  align-content: normal;
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  justify-content: space-around;
  margin-top: 100px;
}

.playlist-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}

.custom-line {
  background-size: 100% 2px;
  border-bottom: 1px solid #fa8072;
  border-radius: 50%; /* This makes the ends rounded */
  box-shadow: 0 1px 1px #fa8072;
  height: 2px;
  margin: 40px auto;
  margin-bottom: 20px;
  width: 96%;
}

body.dark-mode .custom-line {
  border-bottom: 1px solid #c55469;
  box-shadow: 0 1px 1px #c55469;
}

.playlist-text {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.playlist-desc {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 10px;
  max-width: 300px;
  text-decoration: none;
}

.playlist-cover {
  border-radius: 5px;
  cursor: pointer;
  max-height: 300px;
  max-width: 300px;
}

.playlist-container a {
  display: block;
  transition: transform 0.3s ease;
}

.playlist-container a:link,
.playlist-container a:visited {
  color: inherit;
  text-decoration: none;
}

.playlist-desc p {
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  white-space: normal;
}

.chart-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  max-height: 300px;
  position: relative;
}

canvas#YrPieChart {
  max-height: 300px;
  max-width: 300px;
}

.bottom-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}

.oldest-newest-tracks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}

.artist-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.chart-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 400px;
}

.artist-list {
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  height: 300px;
  justify-items: center;
  list-style: none;
  max-height: 300px;
  position: relative;
}

.artist-container {
  display: block;
  height: 100px;
  position: relative;
  transition: transform 0.3s ease;
  width: 100px;
}

.artist-image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.artist-list img {
  max-height: 100px;
  max-width: 100px;
}

.artist-container a:link,
.artist-container a:visited {
  color: inherit;
  text-decoration: none;
}

.overlay {
  align-items: center;
  background: linear-gradient(transparent, rgb(0 0 0 / 50%));
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.artist-name,
.artist-count {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  max-width: 90%;
  text-align: center;
  word-wrap: break-word;
}

.artist-count {
  padding-bottom: 20px;
}

.decade-title,
.top-artists-title,
.utils-title {
  color: #296c93;
  font-family: Futura, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

body.dark-mode .decade-title,
body.dark-mode .top-artists-title,
body.dark-mode .utils-title {
  color: #fa9845;
}

.results-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  margin: 0 auto; /* This centers the div with equal margin on each side */
  overflow-x: auto;
  position: relative;
  text-align: center; /* This will center the inline and inline-block children */
  width: 95%;
}

.artist-gen-container {
  align-items: center;
  display: flex;
  flex-flow: column;
}

#artgen-btn {
  background-color: #ff506d;
}

#art-gen-title {
  text-align: center;
}

#recommendations-title {
  text-align: center;
}

#results {
  color: #333;
  display: flex;
  font-size: 12px;
  gap: 15px;
  white-space: normal;
  word-wrap: break-word;
}

.result-cover-art {
  border-radius: 5px;
  box-shadow:
    4px 5px 8px 0 rgb(0 0 0 / 20%),
    0 2px 20px 0 rgb(0 0 0 / 19%);
  height: 200px;
  width: 200px;
}

.result-item .result-cover-art-container {
  position: relative;
}

.result-item .result-cover-art-container .caption {
  background: rgb(0 0 0 / 80%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom: 3px;
  box-sizing: border-box;
  color: white;
  padding-bottom: 5px;
  padding-left: 10px;
  position: absolute;
  width: 100%;
}

.result-item h2 {
  color: white;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  justify-content: flex-start;
  padding: 0;
}

.result-item p {
  align-items: center;
  color: white;
  display: flex;
  font-size: 10px;
  padding: 0;
  position: relative;
}

.result-item {
  align-items: center;
  border-right: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: auto;
}

.play-button {
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 48px;
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

audio {
  display: none;
}

.result-cover-art-container:hover .play-button {
  display: block;
}

.result-cover-art-container:hover .result-cover-art {
  opacity: 0.6;
}

.dropdown-content {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  gap: 20px;
  text-decoration: none;
}

.heart-icon {
  color: grey;
  cursor: pointer;
  font-size: 24px;
}

.heart-icon.liked {
  color: hotpink;
  cursor: pointer;
}

.plus-icon {
  color: green;
  cursor: pointer;
  font-size: 24px;
}

.plus-icon.added {
  color: red;
  cursor: pointer;
}

.heart-icon:hover,
.plus-icon:hover {
  transform: scale(1.1); /* scales the icon up to 110% of original size */
  transition: transform 0.3s; /* smooth transition effect */
}

#genre-counts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#genre-counts > ul > li {
  cursor: pointer;
  padding: 5px 15px;
  transition: background-color 0.3s;
  width: 30%;
}

body.dark-mode li {
  color: #e9705a;
}

#genre-counts > ul > li:hover {
  background-color: #f5f5f5;
}

#genre-counts > ul > li > ul {
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 5px;
}

.login-button {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 8%);
  color: #191919;
  display: flex;
  font-family: Futura, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  height: 20px;
  justify-content: space-between;
  padding: 10px 15px 10px 10px;
  text-decoration: none;
  transition: box-shadow 0.3s;
  width: 230px;
}

.login-button,
.login-button img {
  line-height: normal;
  vertical-align: middle;
}

.openai-logo {
  height: auto;
  width: 100px;
}

#generate-art-btn {
  background-color: #ff506d;
  border: transparent;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: Futura, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 100px;
}

body.dark-mode #generate-art-btn,
body.dark-mode #artgen-btn {
  background-color: #f9778c;
}

body.dark-mode #gen-refresh-icon,
body.dark-mode .art-gen-icon-div {
  color: #f9778c;
}

#apiKeyForm {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 8%);
  color: #191919;
  display: flex;
  font-size: 1.3em;
  height: 10px;
  justify-content: space-between;
  padding: 10px 15px 10px 10px;
  text-decoration: none;
  transition: box-shadow 0.3s;
  width: 200px;
}

#apiKeyForm input {
  border: none;
  flex-grow: 1;
}

#apiKeyForm .submit-btn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1em;
  padding: 0;
}

#art-gen-results {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.art-gen-img {
  border: 1px solid #000; /* add a border to the image */
  box-shadow: 0 0 10px rgb(0 0 0 / 10%); /* add a shadow to the image */
  height: 300px;
  margin: 10px; /* add some margin around the image */
  width: 300px; /* or any other size */
}
.art-gen-img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.art-gen-icon-div {
  color: #ff506d;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: center;
}

.art-gen-prompt {
  color: #3f4d56;
  font-size: 15px;
  margin-top: -30px;
  padding: 15px;
  text-align: center;
}

body.dark-mode .art-gen-prompt {
  color: #ff506d;
}

.art-gen-icon-div i {
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}

#gen-refresh-icon {
  color: #ff506d;
  opacity: 0.5;
  cursor: not-allowed;
  font-size: 20px;
}

.gen-btns {
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

#art-info-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.toast {
  border-radius: 5px;
  bottom: 2%;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  color: white;
  display: none;
  padding: 12px 24px;
  position: fixed;
  right: 2%;
  z-index: 1000;
}

.close-toast {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#update-button {
  position: relative;
  top: 40px;
}

#update-button:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.toast.success {
  background-color: #4caf50;
}

.toast.error {
  background-color: #f44336;
}

.accordion-header {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 5px;
  margin-bottom: 5px;
}

.accordion-header:hover {
  background-color: #ddd;
}

.accordion-content {
  display: none; /* Hide by default */
  padding: 0 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
