body {
  background-color: #edc9af;
  font-family: Futura, sans-serif;
  overflow-x: hidden;
  width: 100%;
}

/* Top-right navigation */
.top-right-nav {
  display: flex;
  gap: 10px; /* space between the links */
  position: absolute;
  right: 10px;
  top: 10px;
}

.profile-link {
  background-color: #507494;
  border: transparent;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 8px;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 100%;
}

.profile-link:hover {
  background-color: #704214;
  color: white;
  text-decoration: none;
}

h1 {
  color: #507494;
  font-family: Futura, sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.button-group button {
  background-color: #4a314d;
  border: transparent;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 8px;
  transition: background-color 0.3s;
}

.button-group button:hover {
  background-color: #5bbad5;
}

h2 {
  color: #507494;
  font-family: Futura, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

p {
  color: #507494;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
}

.homepage-link {
  cursor: pointer;
  left: 3px;
  position: absolute;
  top: 1px;
}

.homepage-link img {
  height: 60px;
  transition: transform 0.3s;
  width: auto;
}

.homepage-link:hover img {
  transform: scale(1.05);
}

.data-view-btn.active {
  background-color: #5bbad5;
  color: white;
}

.artist-container {
  height: 150px;
  position: relative;
  width: 150px;
}

.artist-image {
  height: 100%;
  width: 100%;
}

.overlay {
  align-content: space-around;
  align-items: center;
  background: rgb(0 0 0 / 60%);
  bottom: 0;
  color: white;
  display: flex;
  flex-flow: column wrap;
  font-size: 12px;
  justify-content: space-around;
  opacity: 1;
  overflow-x: hidden;
  position: absolute;
  transition: 0.5s ease;
  width: 100%;
}

.artist-name {
  font-weight: bold;
}

.artist-container:hover .overlay {
  opacity: 1;
}

.artist-list {
  align-items: center; /* This centers the items vertically */
  display: flex;
  flex-flow: row wrap; /* Items will be arranged in a row */ /* Items will wrap onto multiple lines if they run out of space */
  justify-content: center; /* This centers the items horizontally */
  list-style: none; /* This removes the bullet points */
}

.artist-item {
  margin: 10px; /* Adds some space around each item */
}

#YrPieChart {
  max-height: 300px; /* Adjust as needed */
  max-width: 300px; /* Adjust as needed */
}

.playlist-cover {
  height: 400px;
  width: 400px;
}
