html,
body {
  height: 100%;
}

body {
  background: linear-gradient(120deg, #edc9af, #f3e0c3);
  font-family: Futura, sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}

.top-right-nav {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.homepage-link {
  cursor: pointer;
  left: 3px;
  position: absolute;
  top: 1px;
}

.homepage-link img {
  height: 60px;
  transition: transform 0.3s;
  width: auto;
}

.homepage-link:hover img {
  transform: scale(1.05);
}

.profile-link {
  background-color: #507494;
  border: transparent;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 8px;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 100%;
}

.profile-link:hover {
  background-color: #704214;
  color: white;
  text-decoration: none;
}

.button-group {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.button-group button {
  background-color: #4a314d;
  border: transparent;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 8px;
  transition: background-color 0.3s;
}

.button-group button:hover {
  background-color: #5bbad5;
}

.data-view-btn.active {
  background-color: #5bbad5;
  color: white;
}

h1 {
  color: #507494;
  font-family: Futura, sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

h2 {
  color: #507494;
  font-family: Futura, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

p {
  color: #507494;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
}

.top-section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.playlist-container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
}

.playlist-cover {
  border-radius: 5px;
  cursor: pointer;
  max-height: 200px;
  max-width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.playlist-container a {
  display: block;
  transition: transform 0.3s ease;
}

/* Add hover effect for the clickable playlist cover */
.playlist-container a:hover {
  transform: scale(1.05);
}

/* Remove any default styles the browser might apply to the anchor tags */
.playlist-container a:link,
.playlist-container a:visited {
  color: inherit;
  text-decoration: none;
}

.playlist-desc {
  margin-right: 10px;
  text-decoration: none;
  white-space: normal;
}

.playlist-desc p {
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  white-space: normal;
}

.chart-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  max-height: 300px;
  position: relative;
}

canvas#YrPieChart {
  max-height: 300px;
  max-width: 300px;
}

.bottom-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.oldest-newest-tracks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}

.artist-flex {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.chart-flex {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.artist-list {
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* or repeat(2, 1fr) based on the number of images */

  height: 300px;
  justify-content: space-around;
  list-style: none;
  max-height: 300px;
  position: relative;
}

.artist-container {
  border-radius: 50%; /* This will make them circles */
  height: 125px;
  overflow: hidden; /* Important to clip any overflowing content */
  position: relative;
  width: 125px;
  display: block;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.artist-image {
  height: 100%;
  width: 100%;
}

.artist-list img {
  max-height: 125px;
  max-width: 125px;
}

/* Hover effect for the clickable artist image */
.artist-container:hover {
  transform: scale(1.05);
}

/* Remove any default styles the browser might apply to the anchor tags around artist images */
.artist-container a:link,
.artist-container a:visited {
  text-decoration: none;
  color: inherit;
}

.overlay {
  align-content: space-around;
  align-items: center;
  background-color: rgb(0 0 0 / 60%); /* Black with 60% opacity */
  bottom: 0;
  color: white;
  display: flex;
  flex-flow: column wrap;
  pointer-events: none;
  font-size: 10px;
  justify-content: space-around;
  opacity: 1;
  overflow-x: hidden;
  padding-bottom: 10px;
  position: absolute;
  transition: 0.5s ease;
  width: 100%;
}

.decade-title,
.top-artists-title {
  color: #507494;
  font-family: Futura, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px; /* Adjust as needed for desired spacing from top */
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.artist-name {
  font-weight: bold;
}
