body {
  width: 100%;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  background-image: url("https://res.cloudinary.com/dn9bcrimg/image/upload/v1694728486/layered-peaks-haikei_lyxdy9.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

/* Header styles */
h1 {
  text-align: center;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-top: 20px;
}

/* Top-right navigation */
.top-right-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px; /* space between the links */
}

/* Profile and stats links */
.profile-link,
.stats-link {
  text-decoration: none;
  font-family: "Helvetica Neue", serif;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.3s ease;
}

.profile-link:hover,
.stats-link:hover {
  background-color: #f5f5f5;
}

/* Content container */
.content-container {
  max-width: 90%;
  margin: 20px auto;
  padding: 15px;
  background-color: #adc4ce;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 90vh; /* This sets the maximum height to 90% of the viewport height */
  overflow-y: auto;
}

/* Term definition */
.term-definition {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}

/* Homepage link */
.homepage-link {
  position: absolute;
  top: 1px;
  left: 3px;
  cursor: pointer;
}

.homepage-link img {
  height: 60px;
  width: auto;
  transition: transform 0.3s;
}

.homepage-link:hover img {
  transform: scale(1.05);
}

/* Carousel styles */
.carousel-content {
  font-family: "Helvetica Neue", serif; /* Example font */
  font-size: 10px;
  color: #555;
}

.carousel-content h1 {
  color: #333; /* Darker color for headers */
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.carousel-content h2 {
  color: #333; /* Darker color for headers */
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.carousel-content h1,
.carousel-content h2 {
  margin: 0.5em 0; /* Reducing margins */
}

.carousel-content ul {
  columns: 2; /* Displaying items in 2 columns */
  max-height: 900px; /* Setting a max height */
  overflow-y: auto; /* Making it scrollable if content exceeds max height */
}

.carousel-control-prev,
.carousel-control-next {
  position: fixed; /* Fix them on the screen */
  top: 50%; /* Center them vertically */
  z-index: 9999; /* Ensure they're on top */
  width: 50px; /* A specific width for visibility */
  height: 50px; /* A specific height for visibility */
  transform: translateY(-50%); /* This will truly center them vertically */
}

.carousel-control-prev {
  left: 1%; /* Position the previous control on the left */
}

.carousel-control-next {
  right: 1%; /* Position the next control on the right */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  color: #000000; /* Making sure the icons don't have a background */
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

.overlay .content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 60%; /* Set this to whatever size you want */
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Optional: Adds a slight shadow for depth */
  text-align: center; /* Ensures that text inside is centered */
}

.overlay h2,
.overlay h3 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
}

.overlay ul {
  list-style-type: none;
  padding: 5px;
  font-size: 16px;
}

.overlay li:last-child {
  border-bottom: none;
}

.overlay button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.overlay button:hover {
  background: #0056b3;
}

/* Additional styles */
#overlayTimePeriod {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #777;
  margin-bottom: 20px;
}

/* Genre link styles */
.genre-link {
  color: inherit; /* make the link color the same as the surrounding text */
  text-decoration: none; /* remove underline */
  transition: transform 0.3s ease; /* animate any transformations */
  font-size: 13px;
}

.genre-link:hover {
  cursor: pointer;
  transform: translateY(-5px); /* move the link up by 5 pixels */
}

/* Centered text */
.center-text {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.audio-feature-image {
  max-width: 70px;
  max-height: 70px;
}

.equal-height-card {
  display: flex;
  flex-direction: column;
  height: 8%;
}

.card {
  background-color: #f5f5f5;
  border-color: #e0e0e0;
}

.card-title {
  font-size: 1.3rem;
  color: #333;
}

.card-body p,
.card-body small {
  color: #777;
}

.feature-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* space between header and details */
}

.feature-name {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}

.average-value {
  font-size: 1.2rem;
  color: #007bff;
  font-weight: bold;
}

.feature-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.feature-value {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.track-info {
  font-size: 0.8rem;
  color: #777;
  text-align: center;
  margin-top: 5px;
}

.feature-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.feature-value-wrapper,
.image-wrapper,
.track-info-wrapper {
  flex: 1; /* Let each section take up an equal amount of space */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.track-info-wrapper {
  flex-direction: column; /* Stack children vertically */
  text-align: center; /* Center text */
  margin-top: 5px;
}

.card {
  background-color: #e0e0e0; /* This is the current color. Change this value to your desired color. */
  border-color: #176b87; /* You may also want to adjust the border color if needed. */
}

html {
  scroll-behavior: smooth;
}

* {
  transition: all 0.3s ease;
}
