body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  background-color: #96b6c5;
}

h1 {
  text-align: center;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-top: 20px;
}

.top-right-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px; /* space between the links */
}

.profile-link,
.stats-link {
  text-decoration: none;
  font-family: "Helvetica Neue", serif;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.3s ease;
}

.profile-link:hover,
.stats-link:hover {
  background-color: #f5f5f5;
}

.content-container {
  max-width: 90%;
  margin: 20px auto;
  padding: 15px;
  background-color: #adc4ce;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.term-definition {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
}

.homepage-link {
  position: absolute;
  top: 1px;
  left: 3px;
  cursor: pointer;
  z-index: 100;
}

.homepage-link img {
  height: 80px;
  width: auto;
}

.carousel-content {
  font-family: "Helvetica Neue", serif; /* Example font */
  font-size: 10px;
  color: #555;
}

.carousel-content h1 {
  color: #333; /* Darker color for headers */
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.carousel-content h2 {
  color: #333; /* Darker color for headers */
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.carousel-content h1,
.carousel-content h2 {
  margin: 0.5em 0; /* Reducing margins */
}

.carousel-content ul {
  columns: 2; /* Displaying items in 2 columns */
  max-height: 900px; /* Setting a max height */
  overflow-y: auto; /* Making it scrollable if content exceeds max height */
}

.carousel-control-prev {
  left: -12%; /* default is 0 */
}

.carousel-control-next {
  right: -12%; /* default is 0 */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  color: #000000; /* or any color of your choice */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

.overlay .content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 60%; /* Set this to whatever size you want */
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Optional: Adds a slight shadow for depth */
  text-align: center; /* Ensures that text inside is centered */
}

.overlay h2,
.overlay h3 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
}

.overlay ul {
  list-style-type: none;
  padding: 5px;
  font-size: 16px;
}

.overlay li:last-child {
  border-bottom: none;
}

.overlay button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.overlay button:hover {
  background: #0056b3;
}

#overlayTimePeriod {
  text-align: center;

  font-size: 18px;
  font-weight: 400;
  color: #777;
  margin-bottom: 20px;
}

.genre-link {
  color: inherit; /* make the link color the same as the surrounding text */
  text-decoration: none; /* remove underline */
  transition: transform 0.3s ease; /* animate any transformations */
  font-size: 13px;
}

.genre-link:hover {
  cursor: pointer;
  transform: translateY(-5px); /* move the link up by 5 pixels */
}
