{% extends 'base.html' %} {% block head %}
<title>Playlists</title>
<script>
  const playlistData = JSON.parse("{{ playlists|tojson|safe }}");
</script>
{% endblock %} {% block styles %} {% assets "playlist_style_bundle" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block body %} {{ loading_animation() }}
<h1 class="colorful-text">
  <span>S</span><span>e</span><span>l</span><span>e</span><span>c</span
  ><span>t</span>
  <span>a</span>
  <span>P</span><span>l</span><span>a</span><span>y</span><span>l</span
  ><span>i</span><span>s</span><span>t</span>
</h1>
<ul id="playlist-container"></ul>
<div class="pagination">
  {% if page > 1 %}
  <a href="{{ url_for('playlist.playlist', page=page-1) }}"><</a>
  {% endif %} {% if page < total_pages %}
  <a href="{{ url_for('playlist.playlist', page=page+1) }}">></a>
  {% endif %}
</div>
{% endblock %}{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.4.0/color-thief.min.js"></script>
{% assets "playlist_js_bundle" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
