<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/site.webmanifest') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>BotifyWeb</title>
    <link
      href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/homepage.css') }}"
    />
    {% from "loading.html" import loading_animation %}
  </head>
  <div id="background"></div>
  <body>
    {{ loading_animation() }}
    <a href="https://rawcsav.com" class="homepage-link">
      <img
        src="https://res.cloudinary.com/dn9bcrimg/image/upload/v1697564135/PhotopeaLogo_4_vz7eec.png"
        alt="Homepage"
      />
    </a>
    <div class="botifyweb-title">
      BOTIFY
      <span class="web">WEB</span>
    </div>

    <div class="explore-section">
      <a href="/auth">
        <span class="explore-text">EXPLORE</span>
      </a>
    </div>

    <!-- <div class="songfull-section">
      <a href="/songfull">
        <span class="songfull-text">SONGFULL</span>
      </a>
    </div> !-->

    <div class="songfull-section">
      <a href="/songfull">
        <span class="songfull-text">SONGFULL</span>
      </a>
    </div>

    <div class="github-repo-section">
      <a href="https://github.com/rawcsav/SpotifyFlask/">
        <span class="github">GITHUB</span>
        <span class="repo">REPO</span>
      </a>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/homepage.js') }}"></script>
</html>
