<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Neue Haas Grotesk font -->
    <link
      href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/helvetica-neue-9"
      rel="stylesheet"
    />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/site.webmanifest') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Explore</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/landing.css') }}"
    />
    {% from "loading.html" import loading_animation %}
  </head>
  <div id="background"></div>
  <body>
    {{ loading_animation() }}
    <div class="outter-container">
      <div class="block-element">
        <div class="logo-container">
          <span class="logo-text">EXPLORE</span>
          <span class="logo-text overlay">EXPLORE</span>
        </div>
      </div>
    </div>
    <h2>
      Explore your Spotify listening habits, discover new tracks, and get
      personal recommendations.
    </h2>
    <a href="https://rawcsav.com" class="homepage-link">
      <img
        id="modeSensitiveImage"
        src="/secure_image?public_id=v1697815559/PhotopeaLogo_5_pwdjzg.png"
        alt="Homepage"
      />
    </a>
    <div class="center_column">
      <br />
      <br />
      <a class="login-button" href="/login/profile" onclick="handleAuthClick()">
        <img
          alt="Spotify"
          src="/secure_image?public_id=v1694705409/download_hydbbh.svg"
          class="spotify-logo"
        />
        Connect Spotify Account
      </a>
      <br />
      <br />
      <div class="container">
        <p>
          To use the development version of the application, contact me with
          your name and the email attached to your Spotify account.
          <br /><br />
        </p>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
  <script src="{{ url_for('static', filename='js/landing.js') }}"></script>
</html>
