{% macro loading_animation() %}
<style>
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  #loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex; /* set parent to flex */
    justify-content: center; /* horizontally center children */
    align-items: center; /* vertically center children */
    transition: opacity 0.5s ease-out; /* 0.5s fade out */
  }

  #vinyl {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: spin 1.5s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>

<div id="loading-overlay">
  <div id="vinyl"></div>
</div>

<script>
  const vinyls = [
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696459064/Loading/259b0191c50295355fe46f6fd63ac412-removebg-preview_wuko8q.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696459066/Loading/3c00842ddcdc68ef63a7c90f3e1e2dac-removebg-preview_d2kqf5.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696459065/Loading/88e2b5e55bbec5f1d2e2c6dabb87c6e6-removebg-preview_ylfs6l.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696459064/Loading/54ea8b83ee165562ad325b6a805dc43e-removebg-preview_fw2mrv.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696459064/Loading/c23262f659b9b9432d7f5e40d240f62e-removebg-preview_ougqut.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696459064/Loading/c4a929f8f05ed3c51e9959e1bc345864-removebg-preview_chef36.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696459063/Loading/001ef8d056b31366b85bb21d9b23e393-removebg-preview_mdo9sl.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696459063/Loading/6d8b40932841b33fe7e71d5e2f872788-removebg-preview_rsntup.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696459063/Loading/4c463bc81b4a5fb91b6a104170d56bdb-removebg-preview_rb2vem.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696459063/Loading/8c44f8dea637551a9568944bc98a8fa9-removebg-preview_nezdjv.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696459063/Loading/34af4e1cdef582bd36d13cd14d985e16-removebg-preview_t3bnda.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696484408/81cb1a6988f6c51946415ff49cc8ffd7-removebg-preview_hemr9e.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696484408/335c2478a48592a35d71e475e3164ca3-removebg-preview_zchhxm.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696484407/7156310e77af3c924902594d1a339a1f-removebg-preview_ol5as8.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696484407/ad9b567fa573dfb1483f727f7e40e127-removebg-preview_okq0ov.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696484407/1bf79b2077da87eb6a90c5d23be96d19-removebg-preview_ge3igd.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696484407/d7df3371bd2b21e531b716a47a0cf0e1-removebg-preview_edwnod.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696484407/9e1556b886ab814afaa94d54dff1a18d-removebg-preview_yizbkn.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696484407/c45652cc1e5f5f7b6b54fd6fd1c740a9-removebg-preview_pjnq23.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696484407/44e1a44f860f367555579526ef3d781f-removebg-preview_r903p5.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696484407/bd33260dec7cd00233c444cda31ba12a-removebg-preview_jfrkhj.png',
    'https://res.cloudinary.com/dn9bcrimg/image/upload/v1696484407/b6a25de27f2f78be78dfac9276226ae6-removebg-preview_x0tdkb.png',
  ]; // Update with your paths

  function getRandomVinyl() {
    const randomIndex = Math.floor(Math.random() * vinyls.length);
    return vinyls[randomIndex];
  }

  window.showLoading = function () {
    console.log('showLoading called');

    let loadingOverlay = document.getElementById('loading-overlay');
    let vinylElement = document.getElementById('vinyl');

    // If the loadingOverlay is already displayed, don't do anything
    if (loadingOverlay && loadingOverlay.style.display === 'flex') {
      return;
    }

    // If the loading animation elements don't exist, create them
    if (!loadingOverlay) {
      loadingOverlay = document.createElement('div');
      loadingOverlay.id = 'loading-overlay';
      document.body.appendChild(loadingOverlay);
    }

    if (!vinylElement) {
      vinylElement = document.createElement('div');
      vinylElement.id = 'vinyl';
      loadingOverlay.appendChild(vinylElement);
    }

    // Continue as before
    vinylElement.style.backgroundImage = `url(${getRandomVinyl()})`;
    loadingOverlay.style.display = 'flex';
  };

  let animationDisplayedAt = new Date().getTime();

  window.hideLoading = function () {
    console.log('hideLoading called');

    const loadingOverlay = document.getElementById('loading-overlay');
    const fadeOutDuration = 500;

    const completeHide = () => {
      // Instead of hiding, remove the element entirely
      loadingOverlay.remove();
    };

    const timeSinceAnimationDisplayed =
      new Date().getTime() - animationDisplayedAt;
    const minimumDisplayTime = 1000;

    if (timeSinceAnimationDisplayed < minimumDisplayTime) {
      setTimeout(() => {
        loadingOverlay.style.opacity = '0';
        setTimeout(completeHide, fadeOutDuration);
      }, minimumDisplayTime - timeSinceAnimationDisplayed);
    } else {
      loadingOverlay.style.opacity = '0';
      setTimeout(completeHide, fadeOutDuration);
    }
  };

  // Show the loading animation as soon as the JavaScript is executed
  window.showLoading();

  window.addEventListener('load', function () {
    // Hide the loading animation once the page is fully loaded
    window.hideLoading();
  });

  let ajaxRequestCount = 0;

  $(document).ajaxStart(function () {
    ajaxRequestCount++;
    if (ajaxRequestCount === 1) {
      window.showLoading();
    }
  });

  $(document).ajaxStop(function () {
    ajaxRequestCount--;
    if (ajaxRequestCount === 0) {
      window.hideLoading();
    }
  });

  $(document).on('submit', 'form', function (event) {
    var useAjax = $(this).data('ajax');

    if (useAjax) {
      event.preventDefault();

      window.showLoading();

      $.ajax({
        url: $(this).attr('action'),
        method: $(this).attr('method'),
        data: $(this).serialize(),
        complete: function () {
          window.hideLoading();
        },
      });
    } else {
      window.showLoading();
    }
  });
</script>
{% endmacro %}
