<div id="spotifyUserDropdown" onclick="toggleDropdown(event)">
  <div class="menu-container">
    {% if data.images and data.images[0] %}
    <img src="{{ data.images[0].url }}" alt="User Image" class="profile-img" />
    {% else %}
    <img
      src="/secure_image?public_id=v1696536571/bd33260dec7cd00233c444cda31ba12a-removebg-preview_cgobu0.png"
      alt="Placeholder Image"
      class="profile-img"
    />
    {% endif %}
    <span class="truncate">{{ data.display_name }}</span>
    <i
      class="fas fa-cog"
      id="settingsCog"
      onclick="toggleSettings(event)"
      style="display: none"
    ></i>
  </div>
  <div class="drop-menu" id="menu">
    <a class="drop-item" href="{{ url_for('user.profile') }}">Profile</a>
    <a class="drop-item" href="{{ url_for('stats.stats') }}">Music Stats</a>
    <a class="drop-item" href="{{ url_for('recommendations.recommendations') }}"
      >Music Recommendations</a
    >
    <a class="drop-item" href="{{ url_for('playlist.playlist') }}"
      >Playlist Explorer</a
    >
    <div id="settingsDropdown">
      <div class="drop-menu" id="settings-menu">
        <button class="drop-item" id="modeToggle" onclick="toggleMode()">
          Dark Mode
        </button>
        <a class="drop-item" href="/logout">Logout</a>
      </div>
    </div>
    <script>
      function toggleDropdown(event) {
        event.stopPropagation(); // Prevents the dropdown from closing
        const menu = document.getElementById("menu");
        const settingsCog = document.getElementById("settingsCog");
        if (menu.style.display === "none" || menu.style.display === "") {
          menu.style.display = "block";
          settingsCog.style.display = "inline-block"; // Show the settings cog
        } else {
          menu.style.display = "none";
          settingsCog.style.display = "none"; // Hide the settings cog
        }
      }

      function toggleSettings(event) {
        event.stopPropagation(); // Prevents the dropdown from closing
        const settingsCog = document.getElementById("settingsCog");
        const settingsMenu = document.getElementById("settings-menu");
        if (
          settingsMenu.style.display === "none" ||
          settingsMenu.style.display === ""
        ) {
          settingsMenu.style.display = "block";
        } else {
          settingsMenu.style.display = "none";
        }
      }

      // Close the dropdown if clicked outside
      window.addEventListener("click", function (event) {
        const dropdown = document.getElementById("spotifyUserDropdown");
        if (!dropdown.contains(event.target)) {
          document.getElementById("menu").style.display = "none";
        }
      });
      function toggleMode() {
        const body = document.body;
        const isDarkMode = body.classList.contains("dark-mode");
        const modeToSave = isDarkMode ? "light" : "dark";

        fetch("/update_mode", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            mode: modeToSave,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data.message);

            const toggleButton = document.getElementById("modeToggle");
            if (isDarkMode) {
              body.classList.remove("dark-mode");
              toggleButton.innerText = "Dark Mode";
            } else {
              body.classList.add("dark-mode");
              toggleButton.innerText = "Light Mode";
            }
            document.dispatchEvent(new Event("themeToggled"));
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      function checkMode() {
        fetch("/get_mode", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            const body = document.body;
            const toggleButton = document.getElementById("modeToggle");

            if (data.mode === "dark") {
              body.classList.add("dark-mode");
              toggleButton.innerText = "Light Mode";
            } else {
              body.classList.remove("dark-mode");
              toggleButton.innerText = "Dark Mode";
            }
            document.dispatchEvent(new Event("themeToggled"));
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
      window.onload = function () {
        checkMode();
      };
    </script>
  </div>
</div>
