<style>
  * {
    transition: all 0.3s ease;
  }

  body {
    font-family: Futura, sans-serif;
  }

  #settingsCog {
    margin-left: 8px;
    cursor: pointer;
  }

  #spotifyUserDropdown {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 800;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.9);
    padding: 8px 12px;
    border-radius: 20px;
    transition: background 0.3s;
  }

  #settingsDropdown {
    position: absolute;
    top: 0%; /* right below the cog */
    margin-left: 105px;
    cursor: pointer;
    padding: 8px 0px;
  }

  #settings-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; /* Position to the right of the parent element */
    z-index: 900;
    border: 1px solid #e0e0e0;
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
    border-radius: 5px;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px; /* or whatever maximum width you prefer */
    color: #333;
  }

  .profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px; /* Reduced margin for better spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .drop-menu {
    font-family: 'Futura', sans-serif;
    font-size: 10px;
    border: 1px solid #e0e0e0;
    margin-top: 8px;
    transition: all 0.3s ease;
    text-decoration: none;
    display: none;
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
    border-radius: 5px; /* Add slight border-radius to match design consistency */
  }

  .menu-container {
    display: flex;
    align-items: center;
  }

  .drop-item {
    padding: 10px 12px; /* Adjusted padding for better spacing */
    color: #333;
    text-decoration: none;
    display: block;
    transition:
      background 0.2s,
      color 0.2s;
    border-bottom: 1px solid #eaeaea;
  }

  .drop-item:last-child {
    border-bottom: none;
  }

  #homeLink:hover {
    text-decoration: none;
    background-color: #f9efa5;
    color: #5fad56;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .drop-item[href*='profile']:hover {
    text-decoration: none;
    color: #ffe5ec;
    background-color: #a26769;
  }
  /* Applying specific color styles as per your request */
  .drop-item[href*='stats']:hover {
    text-decoration: none;
    background-color: #176b87;
    color: #ffff;
  }

  .drop-item[href*='recommendations']:hover {
    background-color: #02343f;
    color: #f0edcc;
    text-decoration: none;
  }

  .drop-item[href*='playlist']:hover {
    text-decoration: none;
    color: #f1e3e4;
    background-color: #1d7874;
  }

  .drop-item[href*='logout'] {
    background-color: #ef6e6e;
    text-decoration: none;
    color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  #modeToggle {
    width: 100%;
    text-align: left;
    background-color: #001220; /* Light background for contrast */
    color: #fbae3c;
    font-family: Futura, sans-serif;
    font-size: 10px;
    font-weight: bold;
    border-color: transparent;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  /* Dark Mode button appearance */
  .dark-mode #modeToggle {
    background-color: #efefd0; /* Dark background for contrast */
    color: #004e89;
    /* Dark text */
  }
</style>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<!-- Dropdown Structure -->
<div id="spotifyUserDropdown" onclick="toggleDropdown(event)">
  <div class="menu-container">
    {% if data.images and data.images[0] %}
    <img src="{{ data.images[0].url }}" alt="User Image" class="profile-img" />
    {% else %}
    <img
      src="https://res.cloudinary.com/dn9bcrimg/image/upload/v1696536571/bd33260dec7cd00233c444cda31ba12a-removebg-preview_cgobu0.png"
      alt="Placeholder Image"
      class="profile-img"
    />
    {% endif %}
    <span class="truncate">{{ data.display_name }}</span>
    <i
      class="fas fa-cog"
      id="settingsCog"
      onclick="toggleSettings(event)"
      style="display: none"
    ></i>
  </div>
  <div class="drop-menu" id="menu">
    <a id="homeLink" class="drop-item" href="{{ url_for('home.home') }}"
      >Home</a
    >
    <a class="drop-item" href="{{ url_for('user.profile') }}">Profile</a>
    <a class="drop-item" href="{{ url_for('stats.stats') }}">Music Stats</a>
    <a class="drop-item" href="{{ url_for('recommendations.recommendations') }}"
      >Music Recommendations</a
    >
    <a class="drop-item" href="{{ url_for('playlist.playlist') }}"
      >Playlist Explorer</a
    >
    <div id="settingsDropdown">
      <div class="drop-menu" id="settings-menu">
        <button class="drop-item" id="modeToggle" onclick="toggleMode()">
          Dark Mode
        </button>
        <a class="drop-item" href="/logout">Logout</a>
      </div>
    </div>
  </div>
  <script>
    function toggleDropdown(event) {
      event.stopPropagation(); // Prevents the dropdown from closing
      const menu = document.getElementById('menu');
      const settingsCog = document.getElementById('settingsCog');
      if (menu.style.display === 'none' || menu.style.display === '') {
        menu.style.display = 'block';
        settingsCog.style.display = 'inline-block'; // Show the settings cog
      } else {
        menu.style.display = 'none';
        settingsCog.style.display = 'none'; // Hide the settings cog
      }
    }

    function toggleSettings(event) {
      event.stopPropagation(); // Prevents the dropdown from closing
      const settingsCog = document.getElementById('settingsCog');
      const settingsMenu = document.getElementById('settings-menu');
      if (
        settingsMenu.style.display === 'none' ||
        settingsMenu.style.display === ''
      ) {
        settingsMenu.style.display = 'block';
      } else {
        settingsMenu.style.display = 'none';
      }
    }

    // Close the dropdown if clicked outside
    window.addEventListener('click', function (event) {
      const dropdown = document.getElementById('spotifyUserDropdown');
      if (!dropdown.contains(event.target)) {
        document.getElementById('menu').style.display = 'none';
      }
    });
    function toggleMode() {
      const body = document.body;
      const isDarkMode = body.classList.contains('dark-mode');
      const modeToSave = isDarkMode ? 'light' : 'dark';

      fetch('/update_mode', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          mode: modeToSave,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data.message);

          const toggleButton = document.getElementById('modeToggle');
          const modeSensitiveImage =
            document.getElementById('modeSensitiveImage');

          if (isDarkMode) {
            body.classList.remove('dark-mode');
            toggleButton.innerText = 'Dark Mode';
            modeSensitiveImage.src =
              'https://res.cloudinary.com/dn9bcrimg/image/upload/v1697028662/PhotopeaLogo_3_kqya4t.png'; // Your light mode image URL
          } else {
            body.classList.add('dark-mode');
            toggleButton.innerText = 'Light Mode';
            modeSensitiveImage.src =
              'https://res.cloudinary.com/dn9bcrimg/image/upload/v1697008847/PhotopeaLogo_2_gfjzyh.png'; // Replace with your dark mode image URL
          }
          document.dispatchEvent(new Event('themeToggled'));
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }

    function checkMode() {
      fetch('/get_mode', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then((response) => response.json())
        .then((data) => {
          const body = document.body;
          const toggleButton = document.getElementById('modeToggle');
          const modeSensitiveImage =
            document.getElementById('modeSensitiveImage');

          if (data.mode === 'dark') {
            body.classList.add('dark-mode');
            toggleButton.innerText = 'Light Mode';
            modeSensitiveImage.src =
              'https://res.cloudinary.com/dn9bcrimg/image/upload/v1697008847/PhotopeaLogo_2_gfjzyh.png'; // Your light mode image URL
          } else {
            body.classList.remove('dark-mode');
            toggleButton.innerText = 'Dark Mode';
            modeSensitiveImage.src =
              'https://res.cloudinary.com/dn9bcrimg/image/upload/v1697028662/PhotopeaLogo_3_kqya4t.png';
          }
          document.dispatchEvent(new Event('themeToggled'));
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }

    // Fetch the user's mode from the server when the page loads
    window.onload = function () {
      checkMode();
    };
  </script>
</div>
