<div id="spotifyUserDropdown" onclick="toggleDropdown(event)">
  <div class="menu-container">
    {% if data.images and data.images[0] %}
    <img src="{{ data.images[0].url }}" alt="User Image" class="profile-img" />
    {% else %}
    <img
      src="https://res.cloudinary.com/dn9bcrimg/image/upload/bd33260dec7cd00233c444cda31ba12a-removebg-preview_cgobu0.png"
      alt="Placeholder Image"
      class="profile-img"
    />
    {% endif %}
    <span class="truncate">{{ data.display_name }}</span>
    <i
      class="fas fa-cog"
      id="settingsCog"
      onclick="toggleSettings(event)"
      style="display: none"
    ></i>
  </div>
  <div class="drop-menu" id="menu">
    <a class="drop-item" href="{{ url_for('user.profile') }}">Profile</a>
    <a class="drop-item" href="{{ url_for('stats.stats') }}">Music Stats</a>
    <a class="drop-item" href="{{ url_for('recs.recommendations') }}"
      >Music Recommendations</a
    >
    <a class="drop-item" href="{{ url_for('playlist.playlist') }}"
      >Playlist Explorer</a
    >
    <div id="settingsDropdown">
      <div class="drop-menu" id="settings-menu">
        <button class="drop-item" id="modeToggle" onclick="toggleMode()">
          Dark Mode
        </button>
        <a class="drop-item" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>
