<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/helvetica-neue-9"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/site.webmanifest') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
      window.genreData = {{ genre_specific_data |tojson }};
    </script>

    <title>Spotify Stats</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/stats.css') }}"
    />
  </head>
  <body>
    <div class="top-right-nav">
      <a href="https://webstats.rawcsav.com/profile" class="profile-link"
        >Return to Profile</a
      >
      <a href="https://webstats.rawcsav.com/recommendations" class="stats-link"
        >Music Recs</a
      >
    </div>
    <h1>Spotify Stats</h1>
    <a href="https://rawcsav.com" class="homepage-link">
      <img
        src="https://res.cloudinary.com/dn9bcrimg/image/upload/v1695251723/RawcSavLogo_iiq03n.png"
        alt="Homepage"
      />
    </a>
    <div class="content-container">
      <div
        id="spotifyStatsCarousel"
        class="carousel slide"
        data-interval="false"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-content">
              <h1>Top Artists</h1>
              <div class="row">
                {% for period, artists in top_artists.items() %}
                <div class="col-md-4">
                  <h2>{{ period.replace('_', ' ').title() }}:</h2>
                  <p class="term-definition">
                    {% if period == "long_term" %} Computed over several years
                    of data. {% elif period == "medium_term" %} Computed
                    approximately over the last 6 months. {% else %} Computed
                    approximately over the last 4 weeks. {% endif %}
                  </p>
                  <ul>
                    {% for artist in artists['items'] %}
                    <li>{{ artist['name'] }}</li>
                    {% endfor %}
                  </ul>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-content">
              <h1>Top Tracks</h1>
              <div class="row">
                {% for period, tracks in top_tracks.items() %}
                <div class="col-md-4">
                  <h2>{{ period.replace('_', ' ').title() }}:</h2>
                  <p class="term-definition">
                    {% if period == "long_term" %} Computed over several years
                    of data. {% elif period == "medium_term" %} Computed
                    approximately over the last 6 months. {% else %} Computed
                    approximately over the last 4 weeks. {% endif %}
                  </p>
                  <ul>
                    {% for track in tracks['items'] %}
                    <li>
                      {{ track['name'] }} by {{ track['artists'][0]['name'] }}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-content">
              <h1>Top Genres</h1>
              <p class="center-text">
                Click on a genre for more period-specific information.
              </p>
              <div class="row">
                {% for period, genres in sorted_genres.items() %}
                <div class="col-md-4">
                  <h2>{{ period.replace('_', ' ').title() }}:</h2>
                  <p class="term-definition">
                    {% if period == "long_term" %} Computed over several years
                    of data. {% elif period == "medium_term" %} Computed
                    approximately over the last 6 months. {% else %} Computed
                    approximately over the last 4 weeks. {% endif %}
                  </p>
                  <ul>
                    {% for genre, count in genres %}
                    <li>
                      <a
                        href="#"
                        onclick="showGenreDetails('{{ period }}', '{{ genre }}')"
                        class="genre-link"
                      >
                        {{ genre }}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-content">
              <h1>Average Audio Features</h1>
              <div class="row equal-height-row">
                {% for period, data in period_data.items() %}
                <div class="col-md-3">
                  <h2 class="mb-4">{{ period.replace('_', ' ').title() }}</h2>
                  {% for feature, value in data['averages'].items() %}
                  <div class="card equal-height-card mb-4">
                    <div class="card-body">
                      <div class="feature-header">
                        <h5 class="feature-name">{{ feature.title() }}</h5>
                        <span class="average-value">{{ value|round(2) }}</span>
                      </div>
                      <div class="row">
                        <div class="col-md-6 feature-detail">
                          <div class="feature-value-wrapper">
                            <span class="feature-value"
                              >Min: {{ data['min_values'][feature]|round(2)
                              }}</span
                            >
                          </div>
                          <div class="image-wrapper">
                            <img
                              class="audio-feature-image"
                              src="{{ data['min_track'][feature]['album']['images'][0]['url'] }}"
                              alt="{{ data['min_track'][feature]['name'] }}"
                            />
                          </div>
                          <div class="track-info-wrapper">
                            {{ data['min_track'][feature]['name'] }} by {{
                            data['min_track'][feature]['artists'][0]['name'] }}
                          </div>
                        </div>
                        <div class="col-md-6 feature-detail">
                          <div class="feature-value-wrapper">
                            <span class="feature-value"
                              >Max: {{ data['max_values'][feature]|round(2)
                              }}</span
                            >
                          </div>
                          <div class="image-wrapper">
                            <img
                              class="audio-feature-image"
                              src="{{ data['max_track'][feature]['album']['images'][0]['url'] }}"
                              alt="{{ data['max_track'][feature]['name'] }}"
                            />
                          </div>
                          <div class="track-info-wrapper">
                            {{ data['max_track'][feature]['name'] }} by {{
                            data['max_track'][feature]['artists'][0]['name'] }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div id="genreOverlay" class="overlay">
          <div class="content">
            <h2 id="overlayGenreTitle"></h2>
            <h4 id="overlayTimePeriod"></h4>

            <div class="row">
              <div class="col-md-6">
                <h3>Top Artists</h3>
                <ul id="overlayTopArtists">
                  {% for artist in
                  user_data['top_artists']['short_term']['items'] %}
                  <li>
                    <span>{{ artist['name'] }}</span>
                  </li>
                  {% endfor %}
                </ul>
              </div>

              <div class="col-md-6">
                <h3>Top Tracks</h3>
                <ul id="overlayTopTracks">
                  {% for track in user_data['top_tracks']['short_term']['items']
                  %}
                  <li>
                    <span>{{ track['name'] }}</span>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <button onclick="closeGenreOverlay()">Close</button>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#spotifyStatsCarousel"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#spotifyStatsCarousel"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
  </body>
</html>
