{% extends 'base.html' %} {% block head %}
<script>
  window.genreData = {{ genre_specific_data |tojson }};
</script>
<title>Spotify Stats</title>
{% endblock %} {% block styles %} {% assets "stats_style_bundle" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block body %}
<div class="stats-container">
  <nav>
    <button
      class="nav-button"
      id="artist-nav"
      onclick="switchTab('top-artists')"
    >
      <i class="fa fa-users"></i> Top Artists
    </button>
    <button
      class="nav-button"
      id="tracks-nav"
      onclick="switchTab('top-tracks')"
    >
      <i class="fa fa-music"></i> Top Tracks
    </button>
    <button
      class="nav-button"
      id="genres-nav"
      onclick="switchTab('top-genres')"
    >
      <i class="fa fa-chart-pie"></i> Top Genres
    </button>
    <button
      class="nav-button"
      id="features-nav"
      onclick="switchTab('top-features')"
    >
      <i class="fa fa-star"></i> Audio Features
    </button>
  </nav>

  <div id="top-artists" class="content-section">
    <h1>Top Artists</h1>
    <div class="row">
      {% for period, artists in top_artists.items() %}
      <div class="time-period">
        <h2>{{ period.replace('_', ' ').title() }}:</h2>
        <p class="term-definition">
          {% if period == "long_term" %} Several years of data. {% elif period
          == "medium_term" %} Over the last 6 months. {% else %} Over the last 4
          weeks. {% endif %}
        </p>
        <ul>
          {% for artist in artists['items'] %}
          <li>{{ artist['name'] }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="top-tracks" class="content-section">
    <h1>Top Tracks</h1>
    <div class="row">
      {% for period, tracks in top_tracks.items() %}
      <div class="time-period">
        <h2>{{ period.replace('_', ' ').title() }}:</h2>
        <p class="term-definition">
          {% if period == "long_term" %} Several years of data. {% elif period
          == "medium_term" %} Over the last 6 months. {% else %} Over the last 4
          weeks. {% endif %}
        </p>
        <ul>
          {% for track in tracks['items'] %}
          <li>{{ track['name'] }} by {{ track['artists'][0]['name'] }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="top-genres" class="content-section">
    <h1>Top Genres</h1>
    <p class="center-text">
      Click on a genre for more period-specific information.
    </p>
    <div class="row">
      {% for period, genres in sorted_genres.items() %}
      <div class="time-period">
        <h2>{{ period.replace('_', ' ').title() }}:</h2>
        <p class="term-definition">
          {% if period == "long_term" %} Over several years of data. {% elif
          period == "medium_term" %} Over the last 6 months. {% else %} Over the
          last 4 weeks. {% endif %}
        </p>
        <ul>
          {% for genre, count in genres %}
          <li>
            <a
              href="#"
              onclick="showGenreDetails('{{ period }}', '{{ genre }}')"
              class="genre-link"
            >
              {{ genre }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="top-features" class="content-section">
    <h1>Average Audio Features</h1>
    {% set features_data = period_data.values()|list %} {% set feature_keys =
    (features_data|first).averages.keys() %} {% for feature in feature_keys %}
    <div class="card feature-card">
      <div class="card-body">
        <h2 class="card-title">{{ feature.replace('_', ' ').title() }}</h2>
        <div class="feature-periods-row">
          {% for period, data in period_data.items() %}
          <div class="period-detail">
            <h3>{{ period.replace('_', ' ').title() }}</h3>
            <span class="average-value"
              >Avg: {{ data['averages'][feature]|round(2) }}</span
            >
            <div class="min-max-feature">
              <div>
                <span class="feature-value"
                  >Min: {{ data['min_values'][feature]|round(2) }}</span
                >
                <img
                  class="audio-feature-image"
                  src="{{ data['min_track'][feature]['album']['images'][0]['url'] }}"
                  alt="{{ data['min_track'][feature]['name'] }}"
                />
                <span class="track-info"
                  >{{ data['min_track'][feature]['name'] }} by {{
                  data['min_track'][feature]['artists'][0]['name'] }}</span
                >
              </div>
              <div>
                <span class="feature-value"
                  >Max: {{ data['max_values'][feature]|round(2) }}</span
                >
                <img
                  class="audio-feature-image"
                  src="{{ data['max_track'][feature]['album']['images'][0]['url'] }}"
                  alt="{{ data['max_track'][feature]['name'] }}"
                />
                <span class="track-info"
                  >{{ data['max_track'][feature]['name'] }} by {{
                  data['max_track'][feature]['artists'][0]['name'] }}</span
                >
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div id="genreOverlay" class="overlay">
  <div class="content">
    <h2 id="overlayGenreTitle"></h2>
    <h4 id="overlayTimePeriod"></h4>

    <div class="row">
      <div class="col-md-6">
        <h3>Top Artists</h3>
        <ul id="overlayTopArtists">
          {% for artist in user_data['top_artists']['short_term']['items'] %}
          <li>
            <span>{{ artist['name'] }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-6">
        <h3>Top Tracks</h3>
        <ul id="overlayTopTracks">
          {% for track in user_data['top_tracks']['short_term']['items'] %}
          <li>
            <span>{{ track['name'] }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <button onclick="closeGenreOverlay()">Close</button>
  </div>
</div>
{% endblock %}{% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    switchTab("top-artists");
  });

  function switchTab(contentId) {
    // Remove 'active' class from all sections
    document.querySelectorAll(".content-section").forEach((section) => {
      section.classList.remove("active");
    });

    // Add 'active' class to the selected section
    const activeSection = document.getElementById(contentId);
    activeSection.classList.add("active");

    // Update active class for buttons
    document.querySelectorAll(".nav-button").forEach((btn) => {
      if (btn.getAttribute("onclick").includes(contentId)) {
        btn.classList.add("active");
      } else {
        btn.classList.remove("active");
      }
    });
  }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

{% assets "stats_js_bundle" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
